[2016-10-20 05:57] MichaelSavin opened #1 "Feature request - subscript & superscript"
I can't find an example subscript & superscript implementation on Draft.js

[2016-10-20 06:17] jpuri commented on #1
That should be possible as inline style. I will spend some time to check this out!

Thanks

[2016-10-20 07:41] MichaelSavin commented on #1
:+1:

[2016-10-20 12:02] jpuri opened #2 "1.0"
----------------------------- STABILIZING -------------------------------
- [x] https://github.com/jpuri/react-draft-wysiwyg/issues/5
- [x] refactor npm dpeendencies
- [x] code cleanup
- [x] upgrade dependencies
- [x] folder structure changes
- [x] upgrade projects draftjs-utils and draftjs-to-html

----------------------------- BUGS -------------------------------
- [x] https://github.com/jpuri/r

[2016-10-20 14:59] mathieumg opened #4 "Custom toolbar"
Really promising project you have here! We've been looking to part ways with Summernote for a while now and this might just be it. Would you be open to having a way to configure the toolbar through props a bit like it's done in Summernote: http://summernote.org/deep-dive/#custom-toolbar-popover

Thanks!

[2016-10-20 16:15] jpuri commented on #4
Thanks @mathieumg: yeh it very close to what you have in summer-note. I already plan to work on super-script, sub-script and remove-style.

Exactly what other configurations are you looking for ?

[2016-10-20 16:18] mathieumg commented on #4
A way to indicate what toolbars and what buttons to display, something similar to Summernote, approach could be different I imagine:

[code]

[2016-10-20 17:19] jpuri commented on #4
That looks very useful, I will do it - soon after 1.0. My priority first is to release a well documented 1.0.

[2016-10-20 17:23] mathieumg commented on #4
Awesome, no hurry of course! :grin:

[2016-10-22 09:42] jpuri opened #5 "Fix minification in npm deployable code"

[2016-10-22 09:44] jpuri opened #6 "Add option to remove inline styles of a selection."

[2016-10-22 09:45] jpuri opened #7 "Clicking any option twice should remove the styling"

[2016-10-22 10:04] jpuri opened #8 "Give user option to add custom images to toolbar options."

[2016-10-22 17:38] jpuri commented on #5
Issue has been fixed by making react and draft libraries external dependencies of the project.

[2016-10-22 17:38] #5 closed

[2016-10-23 19:21] jpuri opened #10 "Issues when adding styles to blank editor content"
Focus editor and add some styles (without adding any text) - generated HTML is wrong.

[2016-10-24 19:41] theLordz opened #13 "Hello. Some basic example?"
**_Hello!_**

Based on what I've seen in the demos you provided, I like your implementation. I think it may be very good in production because of the practical way of grouping and arranging the design functions within it.

I want to test it in our projects.

But I think it might be helpful a basic usage guide, because I get this **Warning**: validateDOMNesting(...): < div> cannot appear as a desce

[2016-10-25 03:20] jpuri commented on #13
Hi @theLordz,

Nice that you liked the project !

Sure you can test it in your project. Latest installable can be downloaded from npm. It version is `0.1.9` (though npm page still shows old version - ignore it).

Follow docs for example:
Import this css:
https://github.com/jpuri/react-draft-wysiwyg/blob/master/docs/src/index.js#L7
and this JS:
https://github.com/jpuri/react-draft-wysiwyg/blob/mast

[2016-10-25 10:53] jpuri commented on #10
This was issue with library draftjs-to-html and has now been fixed.

[2016-10-25 10:53] #10 closed

[2016-10-25 13:03] jpuri commented on #7
This was already working well for all controls except text-alignment controls and now has been fixed for those also.

[2016-10-25 13:03] #7 closed

[2016-10-25 18:09] raisezhang opened #16 ""convertFromHTML" not support tag "img" ? "draftToHtml" was not friendly to "img"?"
Hello  ~

Very thank you for your amazing writing component, thanks a lot!
But I found some problems in the process of use:

1："convertFromHTML" method does not support img tags！
Ex:
`ContentState createFromBlockArray (convertFromHTML ('<p>123<img src="http://image.mmzhuli.com/e0bd1b1a-8a8c-4cec-b42e-1e9605594353?hjw=50&hjh=50"/><br/>1111</p> '))`
2, in the process of submitted data,"draftToHtml"

[2016-10-25 19:29] jpuri commented on #16
Hi @raisezhang,

Thanks a lot for checking out the library :)

1. `convertFromHTML` is method of draft-js library and not this library. As I know it supports only a set of html tags and attributes.

2. For converting draftjs editor state to HTML I am using this library: `https://github.com/jpuri/draftjs-to-html`. readme of the library details the supported conversions. Can you tell me the exact co

[2016-10-26 02:27] raisezhang commented on #16
I mainly refer to [demo2](https://jpuri.github.io/react-draft-wysiwyg/#/demo2?_k = v5o7tp) and [demo4](https://jpuri.github.io/react-draft-wysiwyg/#/demo4?_k = PNBFCF) ! reference demo2 initialization data, reference demo4 implement custom style.

Question 1: I checked the draft-js, method seems to be no problem, but it is error when parsing img tags here~   you have any good recommendations? Main

[2016-10-26 05:55] raisezhang commented on #16
And find some warning in the console!

[code]
[code]
[code]

Thanks  ^_^

[2016-10-26 05:56] jpuri commented on #16
ok I see somehow not replicating for me:
![screen shot 2016-10-26 at 11 24 15 am](https://cloud.githubusercontent.com/assets/2182307/19714848/eb9e28d8-9b6e-11e6-99a3-bab8139495a9.png)

Can you tell me exactly what changes you did in the editor like:
1. Uploaded image
2. Shift+Enter
3. Writing text...

[2016-10-26 05:57] jpuri commented on #16
Thx :)
Yep working on those warnings already. You can expect those to be fixed really soon.

[2016-10-26 06:10] raisezhang commented on #16
Is the ordinary operation， screenshot below：

**1、write some words**
![qq20161026-0](https://cloud.githubusercontent.com/assets/1481983/19715062/5f4f125e-9b85-11e6-8e2e-922941f69d86.png)
**2、click button pic  and paste url**
![qq20161026-1](https://cloud.githubusercontent.com/assets/1481983/19715073/6e32e98a-9b85-11e6-851c-0dae93bee3b0.png)
**3、click Add,  And  then …**
![qq20161026-2](https://clo

[2016-10-26 06:29] raisezhang commented on #16
I'll try to in my local compile your demo, thanks a lot ~

[2016-10-26 07:38] jpuri commented on #4
This change will be very useful I think and thus I plan to include it in 1.0.

My plan for it is that toolbar will be divided into groups (division will not be visible in UI):

1. Inline styles - BOLD, ITALIC, UNDERLINE, STRIKE-THROUGH, CODE
2. Block type
3. Font size
4. Font Family
5. List - ordered, un-ordered, indent, outdent
6. Color
7. Link - add link, remove link
8. Image
9. History - undo,

[2016-10-26 07:58] jpuri commented on #4
Prop to customize toolbar will be simple JS object:

toolbar = {
  inline: {
    visible: true,
    inDropdown: true,
    bold: { visible: true, icon: 'xxx.png', },
    italic: { visible: true, icon: 'xxx.png', },
    underline: { visible: true, icon: 'xxx.png', },
    strikeThrough: { visible: true, icon: 'xxx.png', }
    monospace: { visible: true, icon: 'xxx.png', }
  },
  blockType: { visible:

[2016-10-26 09:19] jpuri opened #17 "Auto indenting"

[2016-10-26 11:50] jpuri opened #18 "Options in dropdown overlapping"
When options are in dropdown in multiple lines. Dropdown in first line when opened should  not be behind dropdown in second line.

[2016-10-26 12:29] mathieumg commented on #4
Very good start! :tada: What I liked about the array approach is that the developers can also reorder the groups and the buttons within each group however they see fit. For instance:

[code]

I also kept `toolbar` as the prop name, it's pretty descriptive already as props are always a form of "config" when we think about it. Just my two cents, tell me what you think! :)

[2016-10-26 17:25] jpuri opened #19 "Ordering option-groups in toolbar and options inside a group in toolbar."

[2016-10-26 17:25] jpuri commented on #4
@mathieumg: I am not sure if I would prefer implicit ordering using array or rather explicit ordering using a field `position`. I have created a new issue for ordering https://github.com/jpuri/react-draft-wysiwyg/issues/19, I actually want to release a stable 1.0 soon. But if time permits I will include it in 1.0.

[2016-10-26 17:36] jpuri commented on #4
I am thinking it might actually be better to get rid of `{visible: false}` and show only those options which user asks for.

[2016-10-26 18:26] jpuri commented on #4
I think the approach I would prefer is:
- by default all toolbar options will be shown if user passes toolbar property only those options will be shown which are present in configuration property
- toolbar options will not be show in drop-down unless explicitly specified
- default icons will be used unless over-ridden

Thus configuration will look like:

[code]

I also like the idea of using `tool

[2016-10-27 06:08] jpuri opened #20 "It should e possible for user to provide image size also."

[2016-10-27 07:21] jpuri commented on #4
Finally I have arrived on this configuration:
https://github.com/jpuri/react-draft-wysiwyg/blob/toolbar_customization/js/src/config/defaultToolbar.js

It looks much generic and also extensible to me.

[2016-10-27 12:15] mathieumg commented on #4
Cool! So `options` can be used to change the order if need be. Looks good!

[2016-10-27 12:17] jpuri commented on #4
I actually want to avoid implicit ordering based on position, later I plan to add additional fields `position, ...` like `icon` right now.

Ordering will not be supported right now.

[2016-10-28 10:01] jpuri opened #22 "Issue with link option in drop-down"
For link option in dropdown add link modal should close when dropdown is closed.

[2016-10-28 13:55] jpuri opened #23 "Improving test coverage"

[2016-10-28 14:30] jpuri commented on #8
The option has now been added.

[2016-10-28 14:31] jpuri commented on #4
@mathieumg: basic support for customizing toolbar is now in master branch. I will work to add more options to it later.

Thanks a lot for  your nice suggestions 👍

[2016-10-28 14:34] mathieumg commented on #4
Awesome, thanks! Did you want me to close this issue?

[2016-10-29 14:29] jpuri commented on #6
The options has now been added.

[2016-10-29 14:29] #6 closed

[2016-10-29 14:30] jpuri commented on #4
I think it can be closed. I added any other issue for allowing ordering of options in toolbar.

Please share more suggestions for improving the editor.

[2016-10-29 14:31] #4 closed

[2016-10-30 13:26] jpuri commented on #1
@MichaelSavin: I have added option of sub-script and super-script and also remove styling to the editor.

After a round of testing I will release stable 1.0 ready for prod use.

[2016-10-31 08:37] jpuri opened #26 "Feature of toolbar appearing as you focus editor is broken"

[2016-11-01 10:49] MichaelSavin commented on #1
@jpuri Thanks!

[2016-11-02 06:15] jpuri opened #28 "Add option to convert editor content to markdown."

[2016-11-03 18:34] jpuri commented on #26
This already looks fixed closing for now.

[2016-11-03 18:34] #26 closed

[2016-11-03 18:51] jpuri commented on #8
This has already been completed.

[2016-11-03 18:51] #8 closed

[2016-11-03 18:52] jpuri commented on #1
Hi @MichaelSavin, I am closing the issue since its completed now.

[2016-11-03 18:52] #1 closed

[2016-11-04 15:22] jpuri opened #30 "As user types after link the new text should not be linkified."

[2016-11-04 15:42] jpuri commented on #18
Issue has been fixed now.

[2016-11-04 15:42] #18 closed

[2016-11-04 17:41] jpuri opened #31 "Popups in toolbar should close when user clicks anywhere else on the page"

[2016-11-04 17:57] jpuri commented on #31
I want it to be same behavior for simple drop-downs and pop-ups.

[2016-11-04 17:59] jpuri commented on #22
The issue has been fixed.

[2016-11-04 17:59] #22 closed

[2016-11-05 18:47] jpuri opened #32 "It should be possible to pass classname in toolbar options"

[2016-11-05 18:57] jpuri opened #33 "Support emojis"

[2016-11-05 18:57] jpuri opened #34 "Support mentions"

[2016-11-06 15:04] jpuri opened #35 "Use of tab to increase list depth is broken"

[2016-11-06 18:46] jpuri commented on #28
This option has now been added.

[2016-11-06 18:47] #28 closed

[2016-11-07 05:55] jpuri commented on #32
This has been added now.

[2016-11-07 05:55] #32 closed

[2016-11-07 06:23] MinJieLiu opened #39 "devDependencies ‘draftjs-to-markdown’ is duplicated"

[2016-11-07 07:02] MinJieLiu opened #40 "I suggest it can customize the configuration font, color, size, etc., as well as multi-language support"
I suggest it can customize the configuration font, color, size, etc., as well as multi-language support

[2016-11-07 09:37] jpuri commented on #40
Hi,

I do not understand it correctly. Are you mentioning some new requirements or listing existing features ?

[2016-11-07 09:37] jpuri commented on #39
Thanks a lot for pointing it out 😄

[2016-11-07 18:53] alagos opened #41 "Loading HTML content into editor"
Maybe is a basic question (actually I guess is not related with your current draft based editor), but I don't get at all how draftjs works. I've been trying to load some html [using the demo](https://github.com/jpuri/react-draft-wysiwyg/blob/master/docs/src/components/Demo/index.js) as example and so far I've tried something like this:

[code]

So is supposed it should display that `<p>Hello world

[2016-11-07 19:28] jpuri commented on #41
Hi @alagos ,

Check similar example here: https://github.com/jpuri/react-draft-wysiwyg/blob/master/docs/src/components/Demo/index.js#L140

[2016-11-07 19:29] jpuri commented on #33
Done hurray 😄

[2016-11-07 19:29] #33 closed

[2016-11-07 19:54] alagos commented on #41
@jpuri yes, actually, that's the specific example I'm basing of. Instead of using `sampleEditorContent` to load the content in `rawContentState={sampleEditorContent}` I loaded it from the state and I almost copy/pasted the content from https://github.com/jpuri/react-draft-wysiwyg/blob/master/docs/src/util/sampleEditorContent.js to my `_getInitialHTML` function to load the initial data for the stat

[2016-11-07 19:57] jpuri commented on #41
ok try to do a console log and check whats coming in `editorContent` after this line `const { editorContent } = this.state;`.

[2016-11-07 20:09] alagos commented on #41
That's the result with `console.log(JSON.stringify(editorContent));`:
[code]
and after I click the editor to write something and `render` is reevaluated, the result is:
[code]

[2016-11-08 01:08] MinJieLiu commented on #40
a some new requirements

[2016-11-08 15:20] dmitrydyachenko opened #43 "Image upload issue"
Hi! When I click on "Image upload" button, then choose "URL" tab, then try to put a focus on "Enter url" input, it disappears and is replaced by "Drop the file or click to upload". Please, help. Thank you.

[2016-11-08 18:22] jpuri commented on #43
@dmitrydyachenko: thanks a lot for reporting it. I could replicate it - its apparently a small issue. I will fix it really quick - hopefully by tomorrow.

[2016-11-08 18:28] jpuri commented on #41
Its looks like editor is re-mounting in each render - which I do not expect to be the case, it may be an issue with `Modal` component.

Ideally editor should have been initialized only once but apparently its content are reset second time also.

[2016-11-10 13:44] MinJieLiu opened #44 "Formatting tools cannot format font size"
Formatting tools cannot format font size

[2016-11-10 13:59] jpuri commented on #44
It works for me in docs:

![screen shot 2016-11-10 at 7 27 32 pm](https://cloud.githubusercontent.com/assets/2182307/20179392/f1269a7e-a77b-11e6-9928-d51371b8b462.png)

[2016-11-11 21:04] ytwater commented on #41
I ran into the same problem where my `editorContents` was null the first time I rendered, then was populated on a second render.  A quick and dirty fix of not rendering until I know the data is there worked for me.

`  render() {

    const { editorContents } = this.state;

    if (!editorContents) {
      return <div />;
    }

    return (
      <div>
        <div className="demo-label">

[2016-11-12 03:56] orditeck commented on #16
I have the same warning.

`Warning: validateDOMNesting(...): <div> cannot appear as a descendant of <p>. See DraftEditorContents > p > ... > DraftEditorBlock > div.`

The problem is this `<p>`:

![](http://i.imgur.com/9dqniHn.png)

[2016-11-12 04:02] orditeck opened #45 "Warning: validateDOMNesting(...): <div> cannot appear as a descendant of <p>"
I'm getting this warning.

`Warning: validateDOMNesting(...): <div> cannot appear as a descendant of <p>. See DraftEditorContents > p > ... > DraftEditorBlock > div.`

The problem is this `<p>` here https://github.com/jpuri/react-draft-wysiwyg/blob/master/js/src/components/Editor/index.js#L151

![](http://i.imgur.com/9dqniHn.png)

Pull request coming soon.

[2016-11-12 04:09] orditeck commented on #16
@raisezhang regarding the warning, see #45 & pull request #46 which fix this.

[2016-11-12 04:44] raisezhang commented on #16
Thanks  :)

[2016-11-12 12:54] jpuri commented on #45
Hi @orditeck,

Thanks a lot for the PR. One of the reason that I kept it <p> and not <div> is that generated HTML and MarkDown use syntax for <p>, thus I preferred <p> in editor also to preserve exact styling of margins.

But <div> may just work well and also fix the warning. I will merge the PR and check. Thanks a ton 😄

~ Jyoti

[2016-11-15 12:29] kaushikbarodiya opened #48 "Usage Example"
Hey @jpuri ,
I liked the text editor of demo page and I wanted to use similar kind of rich-text -editor in my project. But there is no information on How to use component after installation.
Great if you can provide some guide for the same.

Thanks

[2016-11-15 13:20] jpuri commented on #48
Hi @kaushikbarodiya,

I am still working on the documentation of the editor. But you can check this for now:
https://github.com/jpuri/react-draft-wysiwyg/blob/master/docs/src/components/Demo/index.js

Let me know if you need more information.

[2016-11-16 04:21] DiegoGallegos4 opened #49 "Behavior on pressing enter"
Hi,

Whenever you press enter and the content is too big to show without scrolling, whenever enter is pressed the editor scrolls to the end of the text. This might be a little annoying when writing news like paragraph. Is there any idea on how to solve this problem?

Congrats on the awesome job.

[2016-11-16 09:40] jpuri commented on #49
Hi, Thanks :)

I am back to work today after short vacation. I will look at the issue soon.

[2016-11-16 18:43] jpuri commented on #43
Hi @dmitrydyachenko,

It got delayed as I was on vacation last week. But I just fixed the issue and make release `0.2.5`.

I am closing this issue. Thanks

[2016-11-16 18:43] #43 closed

[2016-11-16 18:45] jpuri commented on #45
Hello @orditeck,

Thinks got little delayed as I was on vacation. But I have to undo the these changes. The reason being that the generated mark-down and HTML use <p> tag thus to keep things consistent I would prefer to use <p> tag in editor also.

Plz share your thoughts about it.

[2016-11-16 19:00] orditeck commented on #45
@jpuri I'm sorry but I don't understand why you want to keep the `<p>` as the main tag. There is multiple `<div>` in that `<p>`, and it's not allowed, which is why this warning is showing.

Is there any reason for this?

[2016-11-18 11:14] ZeroCho commented on #43
Please update online demo too!

[2016-11-18 11:17] ZeroCho opened #51 "Feature request: Embed"
Hello, thanks for awesome repository! This is the most perfect react editor I've ever seen!

I'd really like to embed some cool stuffs in my post, such as YouTube or Codepen.
I will be happy if you implement this feature, and this repo will be perfect.

[2016-11-18 12:03] jpuri commented on #51
Thanks a lot. This is so motivating 😄
Sure I am working on implementing more features and also documentation. Next thing I am planning to implement is mentions.

I am add codepen or youtube but I am not sure how it fits with wysiwyg nature of editor and conversion to HTML and markdown.

Let me  think over it.

[2016-11-18 12:05] jpuri commented on #43
Yep sure, I am doing some more work on documentation today and will update by EOD.

[2016-11-20 12:40] jpuri commented on #51
I am realizing this feature could be very useful for some users. I will soon prioritize it.

[2016-11-20 13:45] ZeroCho commented on #51
I implemented it except for one thing. I'll make pr and please help me.

Everything is working but i cant comvert it to HTML. All i got is what i entered in Entity.create

[2016-11-20 13:50] ZeroCho commented on #51
@jpuri please clone this. [link](https://github.com/zerocho/react-draft-wysiwyg)

[2016-11-20 17:29] jpuri opened #55 "Mention dropdown should position itself intelligently in the editor."
@orditeck @test

[2016-11-20 17:29] jpuri opened #56 "mention dropdown should respond to keyboard events."

[2016-11-20 19:14] jpuri commented on #51
Look good @ZeroCho, I will take some inputs from this and I am planning to tomorrow work on embed link functionality.

[2016-11-20 21:09] jpuri commented on #34
There now 🎉

[2016-11-20 21:09] #34 closed

[2016-11-21 06:56] jpuri opened #59 "Mentions should get deleted on whole by single backspace."

[2016-11-21 10:15] jpuri opened #61 "Unlink should not get highlighted for mentions"

[2016-11-21 10:18] jpuri opened #62 "At times toolbar behaves wierdly for option 'toolbarWhenFocused' set"

[2016-11-21 11:54] MichaelSavin commented on #51
Looks like very early prototype:

- [ ] No YouTube embed
- [ ] instead of iframes better to use [Open Graph widgets](https://github.com/draft-js-plugins/draft-js-plugins/issues/452)

[2016-11-21 14:50] dmitrydyachenko commented on #43
Thank you, @jpuri. It was really helpful.

[2016-11-21 15:15] dmitrydyachenko commented on #43
But why have you removed drag and drop functionality for image, @jpuri ?

[2016-11-21 15:19] jpuri commented on #43
Oh that is not intentional, did I broke it - let me check @dmitrydyachenko

[2016-11-21 15:24] jpuri commented on #43
Oh this functionality is optional and configurable, its shown only if users provide function to upload photos. In demo page you will see some demo have it and others not.

[2016-11-21 15:28] dmitrydyachenko commented on #43
Sorry, I can not see any examples with such functionality on the demo page: https://jpuri.github.io/react-draft-wysiwyg/#/demo?_k=bj923j, @jpuri. Thanks.

[2016-11-21 15:34] jpuri commented on #43
Oh I found, I had done some code changes today and missed to update docs for  that, doing that now.

Thanks a lot for pointing out.

[2016-11-21 18:48] jpuri commented on #43
Docs are fixed now.

[2016-11-21 20:48] MarinusDR opened #64 "Load Html and keep font-size and colors"
Hello Jyoti.
I think your draft editor is great. I appreciate all your work!
You take the time to answer questions. What a service!

My question is about the possibility to load HTML into the editor.
It works fine. But things like font-size and colors are gone..

Think that you had some different font-sizes and font-colors in your
sampleEditorContent.js which is used in one of your samples here: i

[2016-11-22 04:49] jpuri commented on #64
Hi @MarinusDR,

For converting HTML to Editor Content i have used DraftJS library function. Atm it does not take care of all HTL attribute - and looking at vast HTML syntax its also hard.

For saving and re-hydrating Editor state I would strongly recommend using JSON, HTML should be used only for display purpose.

I would think about creating a library for HTML to Editor content which would suppor

[2016-11-22 11:14] briancappello opened #65 "Cannot set bold/italics/underline without any text highlighted"
Noticed this just playing around on the demo page. Firefox 49.

Expected behaviour: I click, and it toggles. Together, they should behave like checkboxes, not radio buttons.

[2016-11-22 11:31] asantos00 opened #66 "Multiple toolbar modals open causes bugs"
When you click on multiple toolbars it opens one without closing another (i think closing the other toolbars would be a nice and normal behaviour).

<img width="457" alt="screen shot 2016-11-22 at 11 14 49" src="https://cloud.githubusercontent.com/assets/2593480/20522219/07ba3410-b0a7-11e6-8b02-320d0c034838.png">

[2016-11-22 14:42] MarinusDR commented on #64
Thank you so much for your quick response!
Now I use Json to save the Editor state and it works great!

First I make a json string from the Editor:
var jsonString = JSON.stringify(this.state.editorContents[0], null, 4);
This string can be saved to the database.

Later I can get the string from the database and make it 'raw':
var raw = JSON.parse(jsonString);
initialContentState= {raw}

Should you

[2016-11-22 14:53] MarinusDR commented on #65
Yes, I noticed this as well: the bold/italic/underline/.. -buttons **only** work when some text has been selected.

[2016-11-22 17:06] cmpis commented on #65
At the very least the section where the cursor is and text exists should be affected. But both empty text and existing text do not respond the buttons without selection

[2016-11-22 20:09] jackmoore opened #69 "Prefix classes"
Quick suggestion, if you are going to use classes to assign styles then you should probably add some sort of unique or definable prefix to the class names.  Right now you are opening yourself up to a lot of unintentional collisions if someone were to use this in an existing project.  Currently it would be difficult for others to keep in mind what all class names you've taken off the table.

[2016-11-22 20:13] jackmoore opened #70 "Avoid 'undefined' class name"
Be mindful of passing undefined values to className, because React interprets that as a class name of `"undefined"`.  When I inspect your editor, I see a lot of `class="... undefined"`.

[2016-11-22 20:16] MeierRm commented on #64
Hi, sorry bin gerade besch?ftigt, kannst du das installieren, bitte

Von meinem iPhone gesendet

Am 22.11.2016 um 15:43 schrieb MarinusDR <notifications@github.com<mailto:notifications@github.com>>:

Thank you so much for your quick response!
Now I use Json to save the Editor state and it works great!

First I make a json string from the Editor:
var jsonString = JSON.stringify(this.state.editorCon

[2016-11-23 07:07] jpuri commented on #70
Oh I see, at a lot of places I am passes props to classnames and that is optional and can result in undefined. I will fix this. Thanks a lot for pointing this out.

[2016-11-23 07:13] jpuri commented on #69
Ah that is very useful suggestion. I will soon implement it. Thanks again @jackmoore.

[2016-11-23 07:19] jpuri commented on #66
Yep this is expected behavior, in fact I already have another issue create for this #31. Handling mouse down events across toolbar and editor is tricky. This need more time I plan to do it.

[2016-11-23 07:24] jpuri commented on #65
@briancappello: its already like checkboxes, its not exclusive selection. Or do I not understand the issue you are mentioning. Can you plz share video.

@MarinusDR / @0xCMP: I see what you are saying has a point. This is currently a limitation with DraftJS. I will think over fixing it.

[2016-11-23 07:24] jpuri commented on #65
Closed  by mistake.

[2016-11-23 07:30] jpuri opened #71 "Add option in editor for code formatting"

[2016-11-23 07:32] jpuri opened #72 "Support for videos upload / display."

[2016-11-23 08:00] MarinusDR commented on #65
Look at the behaviour here: https://facebook.github.io/draft-js/
Click on BOLD and type some text.
Now click on BOLD again and type some text.
This works without selecting anything.  :-)

[2016-11-23 09:36] MarinusDR opened #73 "How to use spellcheck?"
The spellcheck does not work annymore in your samples.
I tried to include "spellcheck={true}".
But that made no difference.

[2016-11-23 14:06] jpuri opened #74 "Allow user to configure RTL"

[2016-11-23 14:10] jpuri commented on #73
@MarinusDR: I actually took off that feature it was interfering with mentions. I want to take some time to built it more nicely. Sorry for the inconvenience but it will be there soon.

[2016-11-23 14:12] MarinusDR commented on #73
Thank you so much for your quick response!

[2016-11-23 15:42] #51 closed

[2016-11-23 16:40] ZeroCho opened #75 "Image, Embed problem"
@jpuri Thanks for the great editor!
When I embed url or add image url, img and iframe src is not the url I typed but **[object Event]**
`<img src="[object Event]" role="presentation">`
`<iframe width="100%" height="315px" src="[object Event]" frameborder="0" allowfullscreen=""></iframe>`
I found out that it is due to [here](https://github.com/jpuri/react-draft-wysiwyg/blob/master/js/src/components

[2016-11-23 17:59] jpuri commented on #75
@ZeroCho: the image upload callback is required to return result in specific format. Please check docs for it. Let me know if you need more help.

[2016-11-23 18:03] #2 closed

[2016-11-23 18:04] jpuri commented on #13
@theLordz: docs on the site have been updated, please refer them.

I am closing this issue.

[2016-11-23 18:04] #13 closed

[2016-11-23 18:05] jpuri commented on #16
@raisezhang: is there still something I can help you with.

[2016-11-23 18:08] jpuri commented on #48
Hi Plz check updated docs: https://jpuri.github.io/react-draft-wysiwyg/

Let me know if you need more help. I am closing this issue for now.

[2016-11-23 18:08] #48 closed

[2016-11-23 18:25] ZeroCho commented on #75
@jpuri then, why I got **[object Event]** instead of url?

[2016-11-23 18:41] jpuri commented on #74
RTL is important requirement for the editor. DraftJS uses bidi algo to determine test direction. But the editor also out of box supports RTL. But it still needs following:

1. Text direction should be reflected in generated HTML. This should be done at the level of each block.

2. User should be able to pass a parameter to strictly override the results of bidi algo.

[2016-11-23 19:15] jpuri commented on #75
Apparently your callback is not returning result  in required format.

[2016-11-23 19:17] jpuri commented on #16
Ok, I am closing the issue for now.

[2016-11-23 19:17] #16 closed

[2016-11-23 20:29] ZeroCho commented on #75
Hmm.. That's weird. I don't use any image upload callback nor custom options. I will console log what happens and tell you.

[2016-11-23 20:46] ZeroCho commented on #75
This is how I did.
1. I cloned your repository and run **npm start** which use your playground.
2. I put some image url and console.logged event, imgSrc and this.state.imgSrc
3. event == Proxy,  imgSrc == Event, this.state.imgSrc == url

[2016-11-24 18:48] jpuri commented on #74
Code changes have been completed and will be part of next release.

[2016-11-24 18:48] #74 closed

[2016-11-24 21:41] ZeroCho opened #78 "> sign added when embed something."
I added youtube in your demo.
![chrome_2016-11-25_06-35-22](https://cloud.githubusercontent.com/assets/10962668/20610206/9e8af1d4-b2d9-11e6-92f7-75c4a3dc629f.png)
In front of iframe, `>` sign is added, and this blocks rest of HTML from rendering normally.

also, can I change that **315px** to other number?

[2016-11-25 06:16] jpuri commented on #78
@ZeroCho: I will fix the issue of `<` appearing very soon.

I plan to add feature for user to be able to set size of image and embedded media. I will do that soon. For now may be you can clone draftjs-to-html repo and change this `315px` there.

[2016-11-25 06:22] jpuri commented on #78
@ZeroCho: I am not facing this issue of extra `>`.
![screen shot 2016-11-25 at 11 50 57 am](https://cloud.githubusercontent.com/assets/2182307/20616107/a7df8570-b305-11e6-9777-88a74f051e8a.png)

Can you plz make sure that you use latest version of the repo for HTML generation.

[2016-11-25 06:41] ZeroCho commented on #78
Thank you!
What i meant is when I saved that result html with '>', due to '>'  rest html got broke. This will be fixed if you fix >

Thanks again!

[2016-11-25 06:42] jpuri commented on #78
@ZeroCho: please install draftjs-to-html version: 0.3.9, I just published it and it has the fix.

[2016-11-25 06:48] jpuri opened #80 "It should be possible for user to set size of embedded media."

[2016-11-25 06:50] jpuri commented on #78
Thanks @ZeroCho: for bringing up the issue. I created a separate task for resize of embedded media, I will work on that soon. This issue should be fixed now. Plz close after you test it.

[2016-11-25 07:12] jpuri commented on #73
@MarinusDR: the issue is fixed, will be available in library after next minor release, hopefully next week.

[2016-11-25 07:12] #73 closed

[2016-11-25 07:21] jpuri commented on #75
Strange I do not face issue with images. Which browser are you using ?

[2016-11-25 07:42] ZeroCho commented on #75
Its chrome54 windows10 nodejs7.1 npm4.0.3
Its is the first time that i faced this too... very embarassed.

[2016-11-25 20:01] jpuri opened #84 "Developer to be able to update editor editor content."
Its very probable scenario for developer to require to reset / change editor content. Currently editor only allow initializing the content.

[2016-11-25 21:28] ZeroCho commented on #84
This will be aweseome!

[2016-11-25 21:55] ZeroCho commented on #78
@jpuri Thank you, it is fixed.

[2016-11-25 21:55] #78 closed

[2016-11-25 21:58] ZeroCho commented on #64
@jpuri +1 for creating a library for HTML to Editor content.
Because currently convertFromHTML(draftjs function) doesn't support iframe. I'm seeking for the solution.

[2016-11-26 08:15] jpuri commented on #70
The issue has been fixed and will soon be released. Thanks a lot @jackmoore for ur nice suggestions.

[2016-11-26 08:18] jpuri commented on #65
I have prioritized this bug to be fixed soon. Thank a lot @MarinusDR, @briancappello, @0xCMP for pointing this out.

[2016-11-26 10:42] jpuri commented on #65
The issue has been fixed and will soon be released.

[2016-11-26 10:43] jpuri commented on #62
The issue has been fixed.

[2016-11-26 10:43] #62 closed

[2016-11-26 10:44] jpuri commented on #39
It has been fixed now, closing the issue.

[2016-11-26 10:44] #39 closed

[2016-11-26 10:45] jpuri commented on #40
All this is already there @MinJieLiu, I think I can close this issue - plz suggest.

[2016-11-27 01:47] DiegoGallegos4 commented on #49
@jpuri hi! have you had anytime to look at this?

[2016-11-27 03:27] 949mac commented on #84
I'm experiencing an issue when re-generating the view in a Modal window. This would be terrific.

[2016-11-27 07:03] 949mac commented on #84
Actually, I was able to solve this. I'm using a single Editor displayed in a Modal window and passing the props from the child back to the parent to reset the state and everything appears to be working as expected now. I also switched from a vanilla Bootstrap modal implementation to using react-modal. I think the primary issue I was having before was that my vanilla Modal wasn't unmounting properl

[2016-11-27 11:50] luisrudge opened #86 "react warning"
![image](https://cloud.githubusercontent.com/assets/941075/20648187/def9874a-b486-11e6-90a6-afc526a07937.png)

[2016-11-27 18:21] jadedevin13 opened #87 "Support MS Office"
Is there any chance that this may support Office Open XML?

http://evidenceprime.github.io/html-docx-js/
http://officeopenxml.com/
http://officeopenxml.com/SScontentOverview.php

[Here](https://pandoc.org/) is a cool library of an example, licensed as GPL.
[Here](http://www.ecma-international.org/publications/standards/Ecma-376.htm ) is the exhaustive list of office open xml feature.

https://blog

[2016-11-28 15:45] EpsApps commented on #75
i had this issue to.

To fix it, go to node_modules/react-draft-wysiwyg/dist/react-draft-wysiwyg.js and find:

[code]

replace the code above with:

[code]

[2016-11-29 03:09] infeng opened #89 "hope add full screen feature"
i hope this editor can add full screen featrue to make editor full screen, it is a very useful feature

[2016-11-29 07:13] jpuri commented on #89
Hi @infeng:

I will surely think about adding it. Thanks a lot for the suggestion.

[2016-11-29 07:17] jpuri commented on #87
@jadedevin13:

Well I never though about it. May be the html which is generated can already be used to create docx using html-docx-js you mentioned above.

[2016-11-29 07:18] jpuri commented on #86
This warning was kind of un-avoidable. As I remember it happens with mentions. I will still again look into it in depth.

[2016-11-30 03:42] luke-j opened #90 "Controlled/Uncontrolled link target error"
The `keydown` and `blur` events on the link target input field causes the following error:

<img width="482" alt="screen shot 2016-11-30 at 2 30 19 pm" src="https://cloud.githubusercontent.com/assets/6657011/20738807/06faa9f6-b70a-11e6-9570-df21de865dfa.png">

[2016-11-30 07:40] jpuri commented on #90
Yep this is coz controlled inputs still behave as un-controlled till value is undefined - that is actually issue with React. Not avoidable.

[2016-11-30 07:41] jpuri commented on #69
This has been fixed and released.

[2016-11-30 07:41] #69 closed

[2016-11-30 07:41] jpuri commented on #65
This issue has been fixed and released.

[2016-11-30 07:41] #65 closed

[2016-11-30 07:42] jpuri commented on #70
The change has been completed and released.

[2016-11-30 07:42] #70 closed

[2016-11-30 09:04] jpuri commented on #35
Issue has been fixed, changes will be visible after next release.

[2016-11-30 10:55] jpuri opened #92 "Inputs in toolbar can not be focused."
This issue appeared after last release #1.1.1

[2016-11-30 11:08] jpuri commented on #30
This has been fixed and released.

[2016-11-30 11:08] #30 closed

[2016-11-30 11:08] jpuri commented on #92
Fixed and released.

[2016-11-30 11:09] jpuri commented on #35
Released now.

[2016-11-30 11:09] #35 closed

[2016-11-30 11:10] #92 closed

[2016-11-30 11:14] jpuri commented on #40
Closing it for now.

[2016-11-30 11:14] #40 closed

[2016-12-01 05:28] devnetf opened #94 "ReadOnly mode?"
Does have readonly mode like https://facebook.github.io/draft-js/docs/api-reference-editor.html#readonly?

I want to display the editor's content to the user but not letting them edit. I try to avoid using dangerouslySetInnerHTML.

[2016-12-01 05:51] jpuri commented on #94
@devnetf: This is important feature I missed, its smaller change I will add it really soon hopefully today.

[2016-12-01 05:57] jpuri commented on #89
@infeng: right now also its possible to style editor to occupy full screen. But its not possible to switch between full-screen and minimized more - is that what you are looking for ?

[2016-12-01 05:57] jpuri opened #95 "Support for medium style toolbar."

[2016-12-01 06:15] infeng commented on #89
yep, i hope editor can switch between full-screen and default

[2016-12-01 06:18] jpuri opened #96 "Support for ARIA properties"
Reference: https://github.com/facebook/draft-js/blob/master/src/component/base/DraftEditorProps.js#L74

[2016-12-01 06:34] jpuri commented on #94
Fix is already there in develop branch now.

[2016-12-01 06:47] jpuri commented on #84
React inputs typically have controlled and un-controlled modes. The advantage with controlled mode is that developer has complete control over the changes in state of input.

I would typically like to have this kind of behavior for the editor also, but currently in case of react-draft-wysiwyg the editor content is exported in form of `RawDraftContentState`. Conversion from `RawDraftContentState` t

[2016-12-01 08:31] jpuri commented on #94
Change has been released closing the issue.

[2016-12-01 08:31] #94 closed

[2016-12-01 08:32] jpuri commented on #84
Change has been released closing the issue.

[2016-12-01 08:32] #84 closed

[2016-12-01 08:35] jpuri commented on #89
Ok, that will be useful - I will prioritize this and start working on it. Thanks for nice suggestion 😄

[2016-12-02 02:38] devnetf commented on #94
Thanks for the quick reply! It still doesn't work for me in release 1.1.3. I had a quick read on the pull-request. It seems that there is at least one typo:
`            ref={this.setEditorReference}
            onTab={this.onTab}
            tabIndex={tabIndex}
            readOnly={readOnly}
            readOnly={readOnly}
`
ie readOnly line appeared twice.

[2016-12-02 07:03] jpuri opened #99 "Read-Only mode should disable and gray out the toolbar."

[2016-12-03 11:14] jpuri opened #100 "Inserting link without selection is broken"

[2016-12-03 11:14] jpuri opened #101 "Fixing keyboard navigations in inputs on link popup"

[2016-12-03 16:52] jpuri commented on #101
Issue has been fixed and change is in develop branch.

[2016-12-03 16:52] jpuri commented on #100
Issue has been fixed and change is in develop branch.

[2016-12-03 16:52] jpuri commented on #31
Issue has been fixed and change is in develop branch.

[2016-12-03 16:53] jpuri commented on #66
Issue has been fixed and change is in develop branch.

[2016-12-04 02:28] ZeroCho opened #103 "Feature request: convert state from HTML"
Thanks for great editor!
Currently it works well when writing a new post, but when I try to edit posts, some tags are not converted to `editorState` properly.
For example, `iframe` tag isn't converted to editorState using `draft-js` 's basic `convertFromHTML` method.
I think this editor will be better if it supports converting tags, which are used by this editor, into `editorState`.

[2016-12-04 02:29] ZeroCho commented on #75
@jpuri Any updated news for this? I think just changing the order of variables as I suggested can solve this problem without affecting others.

[2016-12-04 11:17] jpuri commented on #103
@ZeroCho: I see, I will work on it. But I can not promise how soon as this is comparatively bigger requirement. But you will definitely hear back from me.

[2016-12-04 11:20] jpuri commented on #75
@ZeroCho, I am working on it now. I will also look at your PR, thanks for your patience :)

[2016-12-04 11:32] jpuri commented on #75
@ZeroCho: can you also plz share with me what exactly is returned from callback you have written ad what it gives after its resolved.

[2016-12-04 11:38] jpuri commented on #103
@ZeroCho: why do not you consider saving editor state as JSON ?

[2016-12-04 12:07] jpuri commented on #75
@ZeroCho: I could now see what issue you are mentioning. Thanks a lot for pointing out - I am wondering how I missed to find it. You will have the fix release by tomorrow.

[2016-12-04 12:13] ZeroCho commented on #103
@jpuri Because i already wrote 100+ posts in my blog. All of them are saved in HTML. So I cannot take risk to convert all of them into JSON.

[2016-12-05 05:28] devnetf opened #104 "Controlled content with EditorState?"
It seems that currently only contentState is supported. It is difficult to reset the text field after user pressed submit button with uncontrolled component.

Thanks!

[2016-12-05 05:30] devnetf opened #105 "Placeholder"
Does this support https://facebook.github.io/draft-js/docs/api-reference-editor.html#placeholder ?
I did not see it in the demo.

[2016-12-05 06:05] jpuri commented on #104
@devnetf: you can reset content using contentState property, check docs or this issue for details: https://github.com/jpuri/react-draft-wysiwyg/issues/84

[2016-12-05 06:48] jpuri commented on #105
Hi @devnetf, I was facing some styling issue with using DraftJs placeholder as unlike draftjs default block type in editor is <p> and it has some margins issue.

I will spend some time to fix this, thanks for bringing up 😄

[2016-12-05 11:27] jpuri commented on #101
Issue has been fixed and release in version `1.2.0`.

[2016-12-05 11:27] #101 closed

[2016-12-05 11:27] jpuri commented on #80
Issue has been fixed and release in version `1.2.0`.

[2016-12-05 11:27] #80 closed

[2016-12-05 11:28] jpuri commented on #75
Issue has been fixed and release in version `1.2.0`.

[2016-12-05 11:28] #75 closed

[2016-12-05 11:28] jpuri commented on #66
Issue has been fixed and release in version `1.2.0`.

[2016-12-05 11:28] #66 closed

[2016-12-05 11:28] jpuri commented on #31
Issue has been fixed and release in version `1.2.0`.

[2016-12-05 11:28] #31 closed

[2016-12-05 11:28] jpuri commented on #20
Issue has been fixed and release in version `1.2.0`.

[2016-12-05 11:28] #20 closed

[2016-12-05 11:48] jpuri commented on #100
This has been fixed and released with 1.2.0.

[2016-12-05 11:48] #100 closed

[2016-12-05 13:52] devnetf commented on #104
@jpuri  In order to reset properly with react, I need to make the editor a controlled component. However, contentState only keep track of the RawDraftContentState and not the EditorState. Hence, the cursor position was not remembered. As I type the cursor keep coming back to the beginning. Why EditorState is not exposed?

[2016-12-05 17:57] jpuri commented on #45
@orditeck: WYSIWYG editor typically use <p> for normal text paragraphs and I would not prefer to deviate from it also you can see in output <p> tags are used for paragraphs.

Should I go ahead to close this issue ?

[2016-12-05 18:15] jpuri commented on #105
Fix has been moved to develop and will be available with the next release.

[2016-12-05 18:19] jpuri commented on #86
I looked into this again again this is kind-of un-avoidable. Ref: https://www.reddit.com/r/reactjs/comments/2wnge4/how_to_disable_react_warnings/

I am closing this issue.

[2016-12-05 18:19] #86 closed

[2016-12-05 18:24] jpuri commented on #90
This is yet another un-avoidable react warnings :(

I am closing this issue.

[2016-12-05 18:24] #90 closed

[2016-12-05 18:39] jpuri commented on #61
Change has been moved to develop branch and will be available after next release.

[2016-12-06 05:47] jpuri commented on #59
I would prefer to change this to requirement that if user adds indie the mention a text which results in a string not in mention db it should get de-mentioned.

[2016-12-06 14:36] jpuri opened #109 "Link control behaving weird to events."

[2016-12-06 18:02] jpuri commented on #59
The issue has been fixed by making the draftjs entity immutable. Change is in develop branch.

[2016-12-07 05:16] jpuri commented on #61
Change has been released.

[2016-12-07 05:16] #61 closed

[2016-12-07 05:16] jpuri commented on #59
Change has been released.

[2016-12-07 05:16] #59 closed

[2016-12-07 05:17] jpuri commented on #105
Change has been released.

[2016-12-07 05:17] #105 closed

[2016-12-07 05:17] jpuri commented on #109
Change has been released.

[2016-12-07 05:17] #109 closed

[2016-12-07 05:18] jpuri commented on #104
Changing editor content was actually not requirement from editor initially what it was developed.
But I see your point, I will soon make this change.

[2016-12-07 19:02] jpuri commented on #56
Issue has been fixed will soon be released.

[2016-12-07 21:27] jdpagley opened #111 "Editor onBlur doesn't work"

[2016-12-08 13:37] sureshHARDIYA opened #112 "Link component does not render correctly"
Hi, I am using `react-draft-wysiwyg` component. I am using `draftToHtml` and `convertFromHTML` to save the editorState into database. With `Link`, it inserts the target and  attributes as it is supposed to. The problem is it does not render when `target` does not start with `http`.

**This works,**
`<a href="http://www.example.com">`example</a> works correctly.

**This does not works,**
`<a href="

[2016-12-08 14:54] jpuri commented on #111
@jdpagley: the editor atm does not support event callbacks, but I think I should add these. I will soon add this.

For now a not so good HACK for you could be to wrap editor in div with tabIndex=0 and listen to its events for focus and blur.

[2016-12-08 14:56] jpuri commented on #112
@sureshHARDIYA: where is it not rendering correctly in editor or generated HTML ?

`convertFromHTML` is draftjs and does not suffice all the requirements of `react-draft-wysiwyg`. I always tell those using the editor to save state in JSON and convert to HTML only for display.

[2016-12-08 15:06] sureshHARDIYA commented on #112
In the editor. The generated HTML is correct.

[2016-12-08 15:12] jpuri commented on #112
ok, why do not you use JSON format for saving editor content it works way better.

[2016-12-08 16:49] sureshHARDIYA commented on #112
Its one alternative to try. I hope there is some example on the demo, to follow.

[2016-12-08 17:49] jpuri commented on #112
@sureshHARDIYA: saving content as JSON has various advantages of connecting with api and converting to different formats. You can convert it to HTML when needed for display but for storing JSON is definitely superior.

You can export JSON from editor and hydrate editor back using it. Docs and demo pages have examples for it.

Example of hydrating from JSON: https://github.com/jpuri/react-draft-wys

[2016-12-09 02:10] jpuri opened #113 "Moving suggestion drop-down outside main editor"
I see some obvious issues in keeping suggestion dropdown as decorator in main editor itself. At some point in future I would prefer to move it outside main editor like suggestion dropdown in FB editors.

[2016-12-09 02:11] jpuri commented on #45
Closing the issue as there is no response.

[2016-12-09 02:14] jpuri commented on #56
Changes have been released.

[2016-12-09 02:14] #56 closed

[2016-12-09 02:22] jpuri commented on #44
@MinJieLiu: do you still face the issue or should I close it ?

[2016-12-09 02:29] jpuri commented on #41
@ytwater: you can also check new `contentState` property (detailed in docs) it can be used not only for initializing but also changing editor content.

[2016-12-09 02:30] jpuri commented on #41
@alagos: is your issue resolved, can I do something more to help it ?

[2016-12-09 04:00] foodaka commented on #48
@jpuri thanks for the editor, where is sample code for the editor on that page? Thanks
https://jpuri.github.io/react-draft-wysiwyg/

[2016-12-09 05:16] jpuri commented on #48
@foodaka : this is editor on home page: https://github.com/jpuri/react-draft-wysiwyg/blob/master/docs/src/components/Home/index.js#L24

And these are ore demo: https://github.com/jpuri/react-draft-wysiwyg/blob/master/docs/src/components/Demo/index.js

[2016-12-09 08:26] dderr opened #115 "uncaught TypeError: t.suggestionCallback is not a function"
![image](https://cloud.githubusercontent.com/assets/585448/21042232/c6d38ad4-bdb5-11e6-954d-8b42370c9a45.png)

source:
{document.addEventListener("click",function(){t.editorFlag?t.editorFlag=!1:(t.closeAllModals(),t.suggestionCallback()

I believe react-draft-wysiwyg/js/src/event-handler/modals.js is calling
  init = () => {
    document.addEventListener('click', () => { // eslint-disable-line no-

[2016-12-09 08:33] jpuri commented on #115
@dderr: I see this is caused by a recent change, I will fix it quick.

[2016-12-09 08:41] jpuri commented on #115
Version #1.3.1 in npm has the fix.

[2016-12-09 09:35] dderr commented on #115
Awesome.. Thx for the 20minute turn around time.

[2016-12-09 10:03] MinJieLiu commented on #44
It can not format the color and font size
![https://minjieliu.github.io/assets/issures-image/2.png](https://minjieliu.github.io/assets/issures-image/2.png)

[2016-12-09 10:26] volkandkaya opened #116 "Bug: Demo draftjs-to-html - font-size"
On the demo draftjs-to-html converts font-size to 8 instead of 8px.

[2016-12-09 12:26] jpuri commented on #116
@volkandkaya: thanks for brining this up, I will soon fix.

[2016-12-09 12:26] jpuri commented on #115
😄  closing the issue now.

[2016-12-09 12:26] #115 closed

[2016-12-09 12:31] andreslucas commented on #116
@volkandkaya you can use 'draft-js-export-html'

Check how to use it in [https://github.com/andresin87/wysiwyg](https://github.com/andresin87/wysiwyg)
Try it using [here](https://andresin87.github.io/wysiwyg/) (Output generated in HTML CoreStyles).

[2016-12-09 12:33] andreslucas commented on #103
I include a way in [https://andresin87.github.io/wysiwyg/](https://andresin87.github.io/wysiwyg/) under [import HTML] story

[2016-12-09 14:16] jdpagley commented on #111
@jpuri Okay thanks for the quick response :).. The additions will be greatly appreciated.

[2016-12-09 15:31] volkandkaya commented on #116
@jpuri nice. Also are there an examples of the editor split into two, where the input area may be in a different component?

@andreslucas I tried to get it working but this editor creates a different type required by 'draft-js-export-html'. draftjs-to-html also works really well except the 'px'

[2016-12-09 16:06] jdpagley commented on #104
I'm having the same problem.

[2016-12-09 16:11] andresin87 opened #117 "ADD linkify boolean option"
[here](https://www.draft-js-plugins.com/plugin/linkify) an example behaviour. Maybe with embeded thumb like facebook.

[2016-12-09 16:48] jpuri commented on #104
I will fix it soon @jdpagley , @devnetf.

[2016-12-09 18:18] jdpagley opened #118 "Dynamic Inline Styles"
Right now we generate width and height of our editor dynamically. This presents a problem because there are way too many size variations to solve with pre-defined classes. It would be nice if we could set our dynamic inline styles directly on the different components of the editor.

It would be nice to have something like:

[code]

[2016-12-09 18:26] jpuri commented on #118
Hey @jdpagley,
I see an issue here DraftJS does not supports style property on editor component. There are some libs that create classes out of style objects that might be an option for you.

Plz suggest if you have some other idea of dealing with it.

[2016-12-09 18:58] jpuri commented on #117
@andresin87, I though about it at some point. Toolbar supports adding link and those links are with a `display text` and a actual `target`. If I add this linkify feature also then effectively 2 types on links will exist in the editor.

But I also agree that highlighting link in text is good idea. I will add it, it will not have option to edit it like current link. May be I can style it differently

[2016-12-09 19:48] jpuri commented on #116
@volkandkaya: just published `draftjs-to-html#0.4.1` and `draftjs-to-markdown#0.0.6` with fixes.

[2016-12-09 23:33] alagos commented on #41
@jpuri at the end I moved to another editor as I couldn't figure out what was going on, sorry about that. Anyway thanks for the help :)

[2016-12-09 23:33] #41 closed

[2016-12-10 03:40] ZeroCho commented on #103
@andreslucas Well, I'm afraid that your import HTML doesn't work
I typed this below code, and it doesn't render correctly.
[code]

[2016-12-10 06:11] ZeroCho opened #119 "Feature request: prevent navigation when some contents in the editor."
I saw some editor prevents `history.goBack()` or `history.goForward()` when there are some contents in the editor, by showing a `confirm` message which asks you really wanna go back or go forward.

This is very useful when people accidentally clicked go-back or go-forward button on the mouse. Actually, I blew up my contents that I wrote for 1 hrs by accidentally clicking go-back button...

[2016-12-10 06:21] #116 closed

[2016-12-10 07:20] TheStu opened #120 "Toolbar modals closing prematurely"
After opening a toolbar modal (creating a link for instance), clicking anywhere in the body of the modal causes the modal to close. So clicking on the 'Link Target' box, for instance, causes the modal to close. I don't have any clues about what the cause is but it seems to be happening on the github.io demo page too.

[2016-12-10 08:54] jpuri commented on #120
@TheStu, thanks for bringing this up. I will fix it soon.

[2016-12-10 09:39] jpuri commented on #120
@TheStu: latest published version `react-draft-wysiwyg@1.3.2` has the fix.

[2016-12-10 09:40] jpuri opened #121 "Popups should close when esp key is pressed"

[2016-12-10 16:18] TheStu commented on #120
awesome, thanks!

[2016-12-10 16:19] #120 closed

[2016-12-10 18:24] jpuri commented on #104
I have prioritized this one, it will be released next week.

[2016-12-10 18:27] jpuri commented on #111
@jdpagley: There is little complexity in it. Main editor also blur when user focuses inputs in toolbar.

Do you have a suggestion that in  this cases should onBlur get triggered - or it should trigger when whole thing editor + toolbar is blur ?

[2016-12-11 02:09] vhmth commented on #45
Hey @jpuri I think it's fine to use `<p>` within the content block, but I think we should definitely not nest divs inside the `<p>` tag. This is semantically incorrect and will result in error logs for any application that uses this wonderful library.

What issues would result from us transitioning from `<p>` to `<div>` or ensuring that `<p>` does not nest `<div>`s within it? How large would that

[2016-12-11 08:46] ZeroCho opened #122 "Feature request: Pre block for multiple lines of codes."
Thanks for the great editor.

I think there should be `pre` block which can put some codes inside. I run a blog about programming and I want to put some multiple lines of codes.

Currently, we can use inline code, but it's not for multiple code block.

[2016-12-12 06:56] ZeroCho opened #123 "CSS problem: rdw-option-wrapper's height should be 30px"
I think rdw-option-wrapper's height should be 30px to be aligned with rdw-dropdown-wrapper.

[2016-12-12 07:03] ZeroCho commented on #123
Oh, I found why my editor's basic style looks different from yours. It's because I use `box-sizing: border-box`

I think it will be better if you add `box-sizing: content-box` or `box-sizing: border-box` at the root of the editor for clearity.

[2016-12-12 10:51] jpuri commented on #45
@orditeck , @vhmth : I am convinced about fixing this 😄 . I will redo changes of your pr, thanks a lot @orditeck , @vhmth.

[2016-12-12 12:22] sureshHARDIYA commented on #121
Also,  would be great, if active popup closes, when user click on other button or clicks outside the Editor like other editor.

[2016-12-12 12:28] jpuri commented on #121
That already happens in latest version @sureshHARDIYA

[2016-12-12 14:03] sureshHARDIYA commented on #64
+1 for creating a library for HTML to Editor Content. I am looking for the solution as well. Also feature like ability to see the source code and modify it would be great.

[2016-12-12 20:01] vhmth commented on #45
https://www.opentest.co/share/bc85f010c0a511e693d2c326b54ba9c0

[2016-12-13 03:27] bonniecool commented on #45
@jpuri  I reinstall this package and we still get the warning "Warning: validateDOMNesting(...): <div> cannot appear as a descendant of <p>"

Red warning color is not good for an application. Please tell us if you pursue to continue using <p> instead of <div>

Thanks!

[2016-12-13 05:00] jpuri commented on #122
Hey @ZeroCho ,

This id duplicate https://github.com/jpuri/react-draft-wysiwyg/issues/71 :)
I plan to add it already. I am marking this one as closed.

[2016-12-13 05:00] #122 closed

[2016-12-13 05:02] jpuri commented on #119
That is good idea @ZeroCho, I am keeping it on lower priority as there are couple of more important issues to be fixed.

[2016-12-13 05:03] jpuri commented on #123
I will check this out @ZeroCho, thanks for nice suggestion.

[2016-12-13 06:22] vhmth commented on #45
@bonniecool look at her comment right above mine.

[2016-12-13 09:01] bonniecool commented on #45
@vhmth thanks! :-D

[2016-12-13 09:13] jpuri commented on #45
Hey @vhmth, @bonniecool:

These changes are already in develop and I will release this week. I am trying to slow down little on development cycles and releasing only well tested code.

[2016-12-13 13:59] jdpagley commented on #118
@jpuri you're right that does seem to be difficult with current draftjs. No worries :)

[2016-12-13 19:31] jpuri opened #126 "rehydrating editor state with mention gives error."

[2016-12-13 19:34] jpuri commented on #126
Just fixed with release `1.3.3`.

[2016-12-13 19:34] #126 closed

[2016-12-13 20:29] jpuri opened #127 "Support for tags like hashtag"

[2016-12-13 20:29] jpuri commented on #104
PR has code changes: https://github.com/jpuri/react-draft-wysiwyg/pull/125
I will release it soon.

[2016-12-13 21:41] devnetf commented on #104
Thanks so much!

[2016-12-14 08:15] jpuri commented on #96
The change has been release in in version `react-draft-wysiwyg@1.4.0`.

[2016-12-14 08:15] #96 closed

[2016-12-14 08:15] jpuri commented on #45
The fix has been release in in version `react-draft-wysiwyg@1.4.0`.

[2016-12-14 08:15] #45 closed

[2016-12-14 08:16] jpuri commented on #104
The change has been release in in version `react-draft-wysiwyg@1.4.0`. For details of change please check docs.

[2016-12-14 08:16] #104 closed

[2016-12-14 08:16] jpuri commented on #111
The change has been release in in version `react-draft-wysiwyg@1.4.0`. For details of change please check docs.

[2016-12-14 08:16] #111 closed

[2016-12-14 08:17] jpuri opened #128 "Refactoring and code clean-up for editor component."

[2016-12-14 08:21] jpuri commented on #112
@sureshHARDIYA: can I do something to help this issue. Create HTML to editorState is in backlog :)

Should I close this issue ?

[2016-12-14 08:23] jpuri commented on #64
There is already an issue for converting HTML to editor state, thus closing this: https://github.com/jpuri/react-draft-wysiwyg/issues/103

[2016-12-14 08:23] #64 closed

[2016-12-14 08:29] jpuri commented on #44
@MinJieLiu: I see it formatted in image above, can you help me understand the issue.

[2016-12-14 08:56] jpuri commented on #49
@DiegoGallegos4: thanks for bringing this up. i could notice some weird behavior - this is actually generated by underlying library draft-js. I will spend some time to see if this can be fixed.

[2016-12-14 09:23] jpuri opened #129 "Using prop textAlignment should reflect text-alignment in editor state."

[2016-12-14 12:26] sureshHARDIYA commented on #112
@jpuri, this issue can be closed. I saw a new issue regarding editorState. I can close it.

[2016-12-14 12:26] #112 closed

[2016-12-14 15:08] andreslucas commented on #103
You're right. I'll review what is happening. I'm using [https://github.com/sstur/draft-js-import-html](https://github.com/sstur/draft-js-import-html) as a dependency.

[2016-12-14 18:52] vhmth commented on #45
Sweet! Seems like it works. :-)

[2016-12-14 20:31] jdpagley commented on #111
@jpuri AWESOME! Thank you :)

[2016-12-15 08:18] shikelong commented on #103
draft-js-import-html lost inline style when convert html to contentState。

[2016-12-15 12:11] vhmth opened #131 "Outputted Links are Incorrect"
If you use the link widget (or try to import links), you'll notice that

[code]

gets converted to

[code]

You can see this by playing with this (found this from [this issue](https://github.com/jpuri/react-draft-wysiwyg/issues/116)):

https://andresin87.github.io/wysiwyg/?selectedKind=ReactDraftWysiwyg&selectedStory=Output%20generated%20in%20HTML&full=0&down=1&left=1

This effectively nullifies b

[2016-12-15 13:28] jpuri commented on #131
@vhmth: thanks for bringing this up. This issue has came up in some of last releases, I will fix it fast.

[2016-12-15 13:43] jpuri commented on #131
@vhmth : `draftjs-to-html@0.4.2` this version has the fix.

[2016-12-15 13:51] jpuri commented on #103
I am realizing this is one most wanted thing to have lib to convert html to editorState, I am prioritizing it and starting on coding for it.

[2016-12-15 14:09] kimdotnet opened #132 "Cannot read property 'className' of undefined"
I got Uncaught TypeError: Cannot read property 'className' of undefined when tried to set up my Editor like this:

[code]
Here is the error stack trace:
[code]

[2016-12-15 14:52] vhmth commented on #131
@jpuri woah thanks for such a quick response! It does seem like this fixes it for when you add links, but when you load the HTML back into the editor, the editor change event shows undefined.

https://www.opentest.co/share/97340450c2d511e6a575e589126b5a40

[2016-12-15 15:00] jpuri commented on #131
@vhmth: do you mean conversion from HTML to EditorState ?

The draftjs  lib to hydrate editor state from HTML doe snot covers all HTML tags - also HTML vocabulary is so vast, its hard to cover everything. I plan to write a lib to hydrate editor state from HTML, there are lot of requests for it: https://github.com/jpuri/react-draft-wysiwyg/issues/103.

I strongly recommend saving editor state as JS

[2016-12-15 15:04] jpuri commented on #132
@kimdotnet: please replace `code` here by `monospace`.

Here: `options: ['bold', 'italic', 'underline', 'strikethrough', 'code', 'superscript', 'subscript']
        }`

[2016-12-15 15:36] vhmth commented on #131
Ah I see - yeah that's probably it. Thank you so much for keeping me updated in a timely manner. I really really appreciate all the work you've done on this lib @jpuri. I'll keep an eye on #103. Let me know how I can be of any help (from code reviews to whatever).

[2016-12-15 15:37] vhmth commented on #103
Thank you @jpuri :-)

[2016-12-15 18:26] jpuri commented on #131
Thanks @vhmth :)
Do consider saving content as json if that serves ur use case, fb also saves draft content as json. html is good for displaying the content but not for saving.

[2016-12-17 13:30] kimdotnet commented on #132
I got this error, when replace options with monospace, here is the stacktrace:
[code]

[code]

[2016-12-17 13:33] jpuri commented on #132
Try this

[code]

[2016-12-17 13:34] kimdotnet opened #134 "(ASK) What data required in resolve (at uploadImageCallback)"
In uploadImageCallback it must pass the data to resolve from backend server.

But I don't know what format of data should be pass to the resolve function.

I already tried like this:
[code]

but got this error:
[code]

[2016-12-17 13:42] jpuri commented on #134
Sorry, the docs are confusing about it, I will fix, plz pass this:

[code]

[2016-12-17 13:52] kimdotnet commented on #134
It's works!
Thanks jpuri

Hope this editor will be as great as cke or summernote :), but in React world

[2016-12-17 13:52] #134 closed

[2016-12-17 13:58] jpuri commented on #134
Thanks a lot @kimdotnet 😄

[2016-12-17 13:59] kimdotnet commented on #132
@jpuri Thanks ms jpuri.

I hope in the future this **toolbar** customization docs will be richer with more code example and explanation 👍

[2016-12-17 13:59] #132 closed

[2016-12-18 17:32] jpuri opened #135 "Monospace ot getting highlighted as selected option."

[2016-12-18 17:32] jpuri opened #136 "Evaluate use of various tags for inline styling in output html."

[2016-12-18 19:23] jpuri opened #137 "toolbar popups should be positioned correctly around page borders"

[2016-12-19 13:06] ananddodia opened #138 "Render HTML template's css in editor."
I have a HTML email template. I want to edit that in editor.
When I add that HTML in editor. It only shows text content. All my css and images are removed in editor.

Please help. how should I get css and image render in editor.

[2016-12-19 13:56] jpuri commented on #138
@ananddodia:

I am working atm to create a lib to allow conversion from html to editor state needed for the library. Atm the functionality provided by draftjs does not suffices for this editor.

Editor supports conversion to and from RawContentState.

[2016-12-19 14:08] ananddodia commented on #138
Thanks. Waiting for update.
Please inform when its done.
Your editor is nice and cover many features that I need.

[2016-12-21 16:42] Fouppy commented on #120
Actually I'm still having this bug, using 1.4.1 when setting `toolbarOnFocus`

[2016-12-22 07:30] jpuri commented on #120
@Fouppy: I will check and fix it soon.

[2016-12-22 09:42] Fouppy opened #140 "Request: customizable blockTypes"
Could it be possible to add options for blockTypes? i.e. allowing only 2 title levels and blockquote for example

Something like that:

[code]

[2016-12-22 09:43] jpuri commented on #140
No @Fouppy, its not possible atm.

[2016-12-22 09:46] nuxdie commented on #140
hello. my PR #141 closes this issue, please consider merging it

[2016-12-22 09:47] jpuri commented on #140
Awesome @nuxdie, it looks good. I will merge it. @Fouppy you will have this feature soon 😄

[2016-12-22 09:50] Fouppy commented on #140
Nice :+1:. But as I understand it, if you want to remove some block types, it's only possible if they're not displayed in a dropdown, right?

[2016-12-22 09:53] jpuri commented on #140
yes, you are right.

[2016-12-22 12:27] jpuri opened #142 "Selection state broken when using contentState and onContentStateChange props."

[2016-12-23 08:41] jpuri opened #144 "mentions fail to work if there ate multiple editor instances on the page"

[2016-12-23 17:53] jpuri opened #146 "Default <div> tag for un-styled-blocks should be styled like <p> tag."

[2016-12-24 21:54] dderr opened #147 "Easy way to add in new font families"
Is there an easy way to customize the list of font families. For instance:

export const fontFamilies = ['Impact', 'Open Sans', 'Roboto', 'Tahoma', 'Times New Roman', 'Verdana'];

[2016-12-25 09:25] jpuri commented on #147
@dderr not right now, but it will be nice feature to have. I have some other priority things planned atm and will consider developing it after these.
I am also open to have a PR for this.

[2016-12-25 09:53] jpuri commented on #142
Fix has been released.

[2016-12-25 09:53] #142 closed

[2016-12-25 09:53] jpuri commented on #140
Released.

[2016-12-25 09:53] #140 closed

[2016-12-25 11:58] jpuri commented on #103
I just published this on npm `html-to-draftjs@0.0.1-beta`. Plz not atm it can take care of only html generated by react-draft-wysiwyg.

I am open to extend it for more common use cases.

[2016-12-26 08:46] jpuri commented on #135
Issue has been fixed.

[2016-12-26 08:46] #135 closed

[2016-12-26 08:48] jpuri commented on #131
Hey @vhmth,

I am closing this issue, also plz check this lib: html-to-draftjs@0.0.1-beta details here: https://github.com/jpuri/react-draft-wysiwyg/issues/103

[2016-12-26 08:48] #131 closed

[2016-12-26 08:50] jpuri commented on #138
Please check update here: https://github.com/jpuri/react-draft-wysiwyg/issues/103

Please not that this lib atm can translate for draftjs content only html generated by react-draft-wysiwyg.

[2016-12-27 03:48] the1sky opened #148 "how to clear content of Editor?"
@jpuri I can not clean editor content after uploading content, any method? thanks

below are no effect:

`this.setState({
   editorState: EditorState.createEmpty(),
})`

or

`const editorState = EditorState.push(this.state.editorState, ContentState.createFromText(''));
this.setState({ editorState });`

[2016-12-27 05:38] jpuri commented on #148
Hey @the1sky: I expect this to work, can you share how you are passing this editorState as props to the editor.

[2016-12-27 05:45] the1sky commented on #148
@jpuri , below is my component source code:

`import React from 'react';
import {connect} from 'react-redux';
import {convertToRaw, convertFromRaw, EditorState, ContentState, SelectionState, Modifier} from 'draft-js';
import {getRaw, getEmptyRaw} from '../../utils/convert';
import {Editor} from 'react-draft-wysiwyg';
import uploadImageCallBack from '../../utils/uploadImageCallBack';
import {addCar

[2016-12-27 05:50] the1sky commented on #148
@jpuri below is my component source code:

[code]

[2016-12-28 11:20] jpuri commented on #148
Hey @the1sky, this should work. Did you tried `EditorState.createEmpty()`.

[2016-12-28 11:31] jpuri commented on #146
Fix has been released in `react-draft-wysiwyg@1.5.3`.

[2016-12-28 11:31] #146 closed

[2016-12-28 13:19] the1sky commented on #148
@jpuri it doesn't work,maybe your can try it

[2016-12-28 13:33] jpuri commented on #148
@the1sky: I just tried, it does works for me.

[2016-12-28 13:40] the1sky commented on #148
@jpuri it's great, can you show me your example source code?

[2016-12-28 13:53] MandarinConLaBarba opened #150 "`onTab` as a property"
It appears currently that `onTab` is not exposed as a property that can be passed through to the `Editor` component. The current logic appears to support behavior for navigating up/down within ordered/unordered list blocks.

For our current use-case, we need the ability to trap `TAB` events so that we can blur the current `Editor` component (and move selection to the next component in a list).

An

[2016-12-28 14:49] jpuri commented on #150
@MandarinConLaBarba: Ideally I think it should be indenting if current block is list else blur. I can make this change soon. Plz suggest.

[2016-12-28 14:50] jpuri commented on #150
Or still better I think will be to have a property callback. If callback return true editor should not execute its own onTab else it should.

[2016-12-28 14:59] jpuri commented on #150
@MandarinConLaBarba: I think that it should be if onChange property is present and returns true do nothing, else if current block is list indent else blur.

[2016-12-28 15:03] MandarinConLaBarba commented on #150
@jpuri `onChange` or `onTab`? I would think you'd be able to provide an `onTab` property?

[2016-12-28 15:07] jpuri commented on #150
Type fixed 😄

[2016-12-28 15:08] MandarinConLaBarba commented on #150
OK sounds good thanks :)

[2016-12-28 15:12] MandarinConLaBarba commented on #150
If you want some help on this I can submit a PR in the next few days @jpuri - thanks for quick responses!

[2016-12-28 19:19] jpuri commented on #150
Yep, I will be happy to have a PR for this.

~ Thanks

[2016-12-29 01:42] MandarinConLaBarba commented on #150
OK sure, will try to have something in the next few days :)

[2016-12-29 07:18] jpuri commented on #148
@the1sky: check this: https://github.com/jpuri/react-draft-wysiwyg/blob/master/js/playground/index.js#L47

[2016-12-29 07:52] jpuri commented on #144
Fix has been moved to develop branch for testing.

[2016-12-29 07:53] jpuri commented on #147
Starting work on this feature now.

[2016-12-29 11:16] jpuri commented on #144
Released in `react-draft-wysiwyg@1.5.4`

[2016-12-29 11:16] #144 closed

[2016-12-29 11:17] jpuri commented on #147
Released in `react-draft-wysiwyg@1.5.4`.

[2016-12-29 11:17] #147 closed

[2016-12-29 18:51] jpuri commented on #123
Fixed.

[2016-12-29 18:55] jpuri commented on #44
Closing as there is no reply, if required issue can be re-opened.

[2016-12-29 18:55] #44 closed

[2016-12-29 18:59] jpuri commented on #118
I think it would anyways be nicer to have style property available for editor wrapper. In fact with styling of drafts editor to to take 100% width and height of container above requirement can also be achieved.

I will add these style props to the editor component. Prioritizing it for milestone `1.6.0`.

[2016-12-30 16:28] Fouppy opened #154 "Modals closing prematurely"
Hi,

Just a reminder for this issue, as it's closed: https://github.com/jpuri/react-draft-wysiwyg/issues/120

Thanks!

[2017-01-02 01:50] jpuri commented on #154
Thanks a lot @Fouppy

[2017-01-03 18:26] kitze opened #155 "YouTube embedding doesn't work"
I recorded a video of the issue here:
https://jumpshare.com/v/X8UopJZlA0DZaSSMezF9

Am I doing something wrong?

[2017-01-03 18:33] ZeroCho commented on #155
+1 same issue

[2017-01-03 18:40] jpuri commented on #155
Try this one @kitze, @ZeroCho : https://www.youtube.com/embed/bNU397ZEx5w

[2017-01-03 20:10] kitze commented on #155
@jpuri should be pretty easy to grab the id via regex and convert it to an embed link manually. You don't want a lot of users to try and paste a youtube link and to think that your lib is broken :)

[2017-01-04 14:09] MandarinConLaBarba opened #156 "Custom stylemap/colors in color picker"
Currently it appears the `ColorPicker` and `customStyleMap` use fixed rgb values (inline styles prefixed with `color-` and `bgcolor-`). In our implementation we need to use our own set of colors for the color picker. Thoughts on allowing a custom map of colors to be passed to the toolbar configuration?

Also, IMO it might be easier to name the inline styles semantically rather than in the format o

[2017-01-04 19:09] jdpagley opened #157 "Add target to links"
It would be cool if we could optionally pass a target key to the link entity.

For instance: `target="_blank" on the anchor tag in the link decorator.

[2017-01-04 19:34] jdpagley opened #158 "Make Images Linkable"

[2017-01-06 11:36] rogyvoje opened #160 "Using editor inside an iframe"
Hello,

I tried to use editor inside an iframe that I have on the page, but it's not really working, it breaks on adding event listeners. I looked into it  and I think the problem is in `init` function inside **modals.js**.

[code]

Error:
[code]

I tried to build it myself but faced some problems...
Is this something you can look into?

Thanks

[2017-01-06 12:18] jpuri commented on #160
Hey @rogyvoje: I will check this issue soon. Thanks a lot for bringing it up.

[2017-01-06 12:19] jpuri commented on #158
Thats nice feature @jdpagley, I will prioritize and implement it.

[2017-01-06 12:19] jpuri commented on #157
Agreed, I will prioritize it.

[2017-01-06 12:22] jpuri commented on #156
Hey @MandarinConLaBarba: I agree to most of what you mentioned above. I was on short vacation I will soon review and merge you PR. I will prioritize and do other changes also which you mentioned above.

Thanks

[2017-01-06 12:24] jpuri commented on #155
<iframe src="https://www.youtube.com/watch?v=1ytcoeFVupQ" height="50px" width="100px />

[2017-01-06 12:29] ZeroCho commented on #155
@jpuri
could you please fix this in your demo?
![image](https://cloud.githubusercontent.com/assets/10962668/21717894/345f46da-d457-11e6-939e-62e706eb66f9.png)

[2017-01-06 12:31] ZeroCho commented on #154
can find this problem in demo

[2017-01-06 13:04] MandarinConLaBarba commented on #156
@jpuri hope you had a nice vacation!

[2017-01-06 14:11] jpuri commented on #155
@kitze: embedding link feature works only with embeddable links and normal youtube link is not embeddable. I can go on to parse and fix youtube link but there can be many non-embeddable links and I can not possible support all of them. A possible solution could be to provide a callback property to developers to parse and provide right link to editor.

@ZeroCho: thanks for pointing docs issue just

[2017-01-06 15:08] jdpagley opened #161 "Ability to remove icon that appears over link on hover"
Seems like it's opinionated to have an icon appear on hover. I think most people would expect the traditional link instead of that additional functionality on hover.

[2017-01-06 20:10] legrego opened #162 "Invalid 'content' CSS value on .rdw-dropdown-carettoopen & .rdw-dropdown-carettoclose"
[/js/src/components/Dropdown/Dropdown/styles.css](https://github.com/jpuri/react-draft-wysiwyg/blob/9b03f71ce39e769e316cfa3d8ff084ff78dc2769/js/src/components/Dropdown/Dropdown/styles.css#L24), lines 24 and 35 each have a 'content' property set to `-`, which is not valid CSS.

Is there a particular reason the value is set this way? If not, I'd be happy to update it to read `content: '-';` rather t

[2017-01-07 00:45] StGeass opened #164 "Image component ignore `readOnly` property"
I can still see and use image controls within `readOnly` mode

Toolbar in the bottom left corner:
![2017-01-07 3 34 49](https://cloud.githubusercontent.com/assets/906496/21737580/42628420-d48b-11e6-9146-d2e1562fb84d.png)

[2017-01-07 16:28] arhmnsh opened #165 "Unmet Peer Dependency"
Peer dependency issue with draftjs

[code]

[2017-01-08 13:34] jpuri commented on #164
@StGeass: thanks for pointing this out, I will fix it soon.

[2017-01-08 18:48] jpuri commented on #164
Fix has been released in version `react-draft-wysiwyg@1.5.5`.

Closing the issue.

[2017-01-08 18:48] #164 closed

[2017-01-08 18:49] jpuri commented on #154
@Fouppy, @ZeroCho : I will fix this on priority now.

[2017-01-09 03:30] jpuri commented on #154
Fixed in release `react-draft-wysiwyg@1.5.6`.

[2017-01-09 03:31] #154 closed

[2017-01-09 05:57] jpuri commented on #161
Agree with you @jdpagley, I will make it configurable using properties.

[2017-01-09 05:59] jpuri commented on #148
@the1sky: are you still facing this issue ? Should I go ahead to close it ?

[2017-01-09 06:05] jpuri commented on #162
Thanks a lot @legrego for reporting the issue, the fix is already in develop branch and I will soon  release it.

[2017-01-09 06:14] jpuri commented on #160
Hey @rogyvoje, I am unable to replicate iframe issue check this: http://codepen.io/jpuri/pen/ggawed.

Can you plz share your code snippet and also the issue you are coming across in build.

[2017-01-09 06:22] jpuri opened #167 "Managing state and events"
Introducing flux to manage flow of events and state management across various components. It should make sure that each instance of editor initialized should get a different copy of flux classes.

[2017-01-09 06:35] jpuri commented on #118
@jdpagley: I have added style properties:

[code]

Since draftJS editor takes 100% these will be helpful in changing editor width.

Change is in develop branch I will release it very soon.

[2017-01-09 06:42] jpuri commented on #121
Change has been moved to develop branch, will soon be released.

[2017-01-09 06:47] jpuri commented on #165
@arhmnsh: do you have draftjs present as dependency in your package.json ? This is needed.

[2017-01-09 08:07] jpuri commented on #121
Change released in version `react-draft-wysiwyg@1.5.7` 😄

[2017-01-09 08:07] #121 closed

[2017-01-09 08:07] jpuri commented on #118
Change released in version `react-draft-wysiwyg@1.5.7` 😄

[2017-01-09 08:07] #118 closed

[2017-01-09 08:07] jpuri commented on #162
Change released in version `react-draft-wysiwyg@1.5.7` 😄

[2017-01-09 08:08] #162 closed

[2017-01-09 09:38] Fouppy commented on #154
Will try asap, thanks!

[2017-01-09 10:16] rogyvoje commented on #160
Hey @jpuri, will do as soon as possible, thanks for letting me know 👍

[2017-01-09 12:38] legrego commented on #162
@jpuri thank you so much!

[2017-01-09 13:02] jdpagley commented on #161
@jpuri thank you so much!

[2017-01-09 18:26] tammomueller opened #169 "Custom button"
What is the recommended way to add a button to the toolbar that handles behavior currently not implemented by the project.

Example: A button that adds a video player to the editor.

So far the only way to do it appears to be by forking the entire project.

Thanks.

[2017-01-10 03:56] tammomueller commented on #169
After some research I implemented the functionality in my fork:

My requirements:

- Ability to add custom buttons to the toolbar.
- Ability for button source source code to live outside of the react-draft-wysiwyg project.
- Ability to use existing buttons.
- Keep modifications to react-draft-wysiwyg project to a minimum.

Implementation:

The editor can receive an array of toolbarCustomButtons. E

[2017-01-10 04:11] the1sky commented on #148
@jpuri, great, I can clear content now, you can close this issue， thanks

[2017-01-11 09:50] the1sky commented on #148
@jpuri with my project code, I can clear content, but I can not edit text properly( cursor alway at line first, and no effect with toolbar function), so I try this function with you example, there's not effect, and below are steps:

`git clone https://github.com/jpuri/react-draft-wysiwyg.git`
`yarn install`
`yarn add draft-utils`
`npm run build`
`npm start`

click 'Force Editor State'

[2017-01-12 06:37] jpuri commented on #169
Hi @tammomueller: sorry for delayed reply. Your approach looks nice, I am not sure if config is needed for custom button as users (of library) can provide their own directly to their component. Can you plz create a PR for this. Thanks a lot 👍

[2017-01-12 06:48] jpuri commented on #169
Plz base PR on `develop` branch.

[2017-01-12 11:06] jpuri commented on #165
Hi @arhmnsh , with following versions the issue of immutable peer dependency will go away.

[code]

Draft-js is required peer-dependency which you should provide.

I cam closing issue, plz re-open if you still face problem.

[2017-01-12 11:06] #165 closed

[2017-01-12 13:47] tammomueller commented on #169
@jpuri I agree. After having implemented my own button I realized that config may not be needed. I will remove it and base the PR on develop. Hopefully getting to it later today

[2017-01-12 16:49] tammomueller commented on #169
@jpuri Created [PR](https://github.com/jpuri/react-draft-wysiwyg/pull/170) based on develop

[2017-01-13 00:13] axelson opened #171 "Button states not consistent"
The button states aren't always accurate until the user begins typing. So if I click bold and type then the bold button is depressed, but if I then click bold again the bold button stays depressed! But when I start typing again the bold button is no longer depressed and the text does not come out bold.

Checked on Google Chrome on the demo page: https://jpuri.github.io/react-draft-wysiwyg/

[2017-01-13 09:14] kamote commented on #41
same issue here using react-bootstrap modal

[2017-01-13 18:32] jpuri commented on #171
@axelson: button gets highlighted if character before cursor has the style. I find it correct. Is the behavior you are noticing different from this. Can you share a recording ?

[2017-01-13 19:41] axelson commented on #171
Yes that is the current behavior. But I find that wrong from a UX perspective. I think that the button state should reflect the style that the next character typed will have. This is similar to how Google Docs and Pages work. Otherwise after you type bold text if you press the bold button it stays depressed even though it did have an effect (which feels broken).

[2017-01-14 14:49] kimdotnet opened #172 "BUG on editor style and wrapper style react-draft-wysiwyg": "1.4.1""
Styling doesn't work with editorStyle props or wrapperStyle props, but works well with editorClassname or wrapperClassname.

My code looks like this:
[code]
[code]

[2017-01-15 07:05] jpuri commented on #172
Hey @kimdotnet,

Let me check this one.

[2017-01-15 07:50] jpuri commented on #172
@kimdotnet: its working for me, which version of editor are you using. This support was added in some of the latest versions.

[2017-01-15 15:30] kimdotnet commented on #172
I'm using version 1.4.1 and after updated to 1.5.8 styling works well

Thank you

[2017-01-15 15:30] #172 closed

[2017-01-15 15:43] kimdotnet opened #173 "Feature request: Custom line spacing"
In current condition the editor doesn't have any line spacing customization.

![image](https://cloud.githubusercontent.com/assets/20101075/21963848/c8852e7e-db73-11e6-9f87-6cd358698989.png)

It will be great is the editor have line spacing customization options, because I think the default line spacing is too loose. I want to make it like this:
![image](https://cloud.githubusercontent.com/assets/2

[2017-01-15 15:46] ZeroCho commented on #173
You can shift+enter to insert br tag, instead of p tag by enter

[2017-01-16 01:41] yamat124 opened #174 "convertFromHTML example does not work with <img>"
I'm trying to re-create my EditorState just like the example in the demo. the raw string from my server looks like this:
const text = "<p></p>\r\n<img src=\"http://i.imgur.com/x60JSwk.jpg\" style=\"height: auto; width: 100%;\"/>\r\n<p></p>\r\n"

const blocksFromHTML = convertFromHTML(text);
            const newState = ContentState.createFromBlockArray(
                blocksFromHTML.contentBlocks

[2017-01-16 02:26] kimdotnet commented on #173
@ZeroCho Can I change behavior of the button, so enter will insert <p> and shift+enter will insert <br />

[2017-01-17 09:32] jpuri commented on #173
Hey @kimdotnet,

You are right this feature will be useful, I will prioritize this issue 👍

[2017-01-17 09:51] jpuri commented on #174
Hey @yamat124:

For html generated the the editor you can try out library `https://github.com/jpuri/html-to-draftjs`.
The method provided by draftjs supports only a limited set of tags.

[2017-01-17 16:17] the1sky commented on #148
@jpuri I read your source code, and I find the right way finally, below:
[code]

[2017-01-17 16:17] #148 closed

[2017-01-17 18:06] yamat124 commented on #174
Thanks I will test it and let you know.
On Jan 17, 2017 4:51 AM, "Jyoti Puri" <notifications@github.com> wrote:

[2017-01-18 23:35] levbrie opened #176 "image upload issue: drag and drop"
Dragging and dropping an image doesn't seem to work in the demo - only clicking to upload does.

[2017-01-19 08:38] the1sky opened #177 "Is there a plan to support internationalization?"
@jpuri any plan?

[2017-01-20 02:47] #169 closed

[2017-01-20 13:36] files3 opened #180 "npm下载使用上传图片有一个问题，请教一下在哪里设置"
<img width="430" alt="wx20170120-225541 2x" src="https://cloud.githubusercontent.com/assets/15240870/22153755/9964307e-df63-11e6-87e0-4fe8ddedf9b1.png">

你好，问一下如图红箭头指的文字，有设置修改的吗？

[2017-01-20 15:40] tammomueller opened #181 "Ability to add custom block renderer"
@jpuri We needed the ability to render custom blocks like tweets, instagram posts and video. The [PR](https://github.com/jpuri/react-draft-wysiwyg/pull/178) I created allows the extension of the current blockRenderer.

Behavior:

- custom block renderer is optional
- When a custom block renderer is specified but does not return a block the default block renderer is executed.

[2017-01-21 04:35] jpuri commented on #181
Hey @tammomueller, Thanks a lot for the PR. I will merge and release it over the weekend.

[2017-01-21 10:46] pplgin opened #183 "default toolbar order by config"
@jpuri   I modified the render toolbarEle order by config
[PRRequest](https://github.com/jpuri/react-draft-wysiwyg/pull/182)

[2017-01-22 09:13] jpuri commented on #181
Just released `react-draft-wysiwyg@1.6.0` 🎉

Closing the issue.

[2017-01-22 09:13] #181 closed

[2017-01-22 09:14] jpuri commented on #183
Just released the change in `react-draft-wysiwyg@1.6.0`

Thanks a lot @pplgin.

[2017-01-22 09:14] #183 closed

[2017-01-22 09:15] #19 closed

[2017-01-22 09:30] jpuri commented on #176
Thanks a lot @levbrie for reporting this. I will fix it soon.

[2017-01-22 09:31] jpuri commented on #177
Hey @the1sky ,

I did not thought it until now, but yep its definitely very useful feature for the editor. I will add it.

Thanks a lot for this suggestion.

[2017-01-22 09:32] jpuri commented on #180
Hey @files3,

Please detail in english.

[2017-01-22 10:32] jpuri commented on #160
Closing the issue as there is no response, issue can be re-opened if required.

[2017-01-22 10:32] #160 closed

[2017-01-22 10:32] #128 closed

[2017-01-25 16:07] jpuri commented on #176
Just released `react-draft-wysiwyg@1.6.1` with the fix. Closing this issue.

Thanks a lot @levbrie for reporting 👍

[2017-01-25 16:07] #176 closed

[2017-01-25 18:37] jpuri commented on #150
I just pushed the change to master branch, it will be available after next release (soon) 😄

[2017-01-25 23:02] igolden opened #184 "Unwanted console logging"
Great plugin! I love the ease of use. Thanks for putting this together.

I'm adding this into a production project, and during development I'm plagued with too much logging from the editor. It makes it difficult to find the other logging information that I"m looking for, and I think this should be easily toggled (logging={true/false}) or turned off completely. Developers should probably be able to

[2017-01-26 06:23] kcabading opened #185 "Will there be a support on adding/drawing tables?"
any plan on adding this in the future @jpuri?

[2017-01-26 15:18] jpuri commented on #184
Hey @igolden: which version of plugin are you using. I already removed them in last version.

[2017-01-26 15:19] jpuri commented on #185
@kcabading: I have not thought about it but definitely good feature, I would like to have it.  I do not have time atm but after some time I would built it. I would also be happy to have PR for it 😄

[2017-01-26 15:39] jpuri commented on #184
Check version `1.6.3`.

[2017-01-26 16:32] igolden commented on #184
I did a fresh install via 'npm install react-draft-wysiwyg --save'
yesterday, and it's at 1.6.2. I'll update, thanks!

On Thu, Jan 26, 2017 at 8:39 AM, Jyoti Puri <notifications@github.com>
wrote:

[2017-01-26 19:41] jpuri commented on #156
The fix has been moved to master branch and will soon be released.

[2017-01-26 19:43] jpuri opened #186 "Flexibility for users to add custom emojis."
Options has been developed to add custom emojis. It has been moved to master branch and will soon be released.

[2017-01-26 22:16] jimbol opened #187 "Links are behaving strangely"
Hi, sweet library! I'm running into some troubles with links, though.

Links are not mutable.
Attempting to delete characters on links moves the cursor over an entity.

![link-strange-behavior](https://cloud.githubusercontent.com/assets/1278367/22352646/0d403bf6-e3eb-11e6-965a-bbc0f4a48072.gif)

If you point me in the right direction, I'll try to open a PR to fix it.

[2017-01-27 03:25] jpuri commented on #187
@jimbol: I just noticed this, its not the intended behavior. I will fix it soon.

[2017-01-27 04:34] #184 closed

[2017-01-27 05:03] jpuri commented on #187
I have pushed the fix to master and will soon release it.

[2017-01-27 11:40] Fouppy opened #188 "Mention: make them case insensitive"
Hi,

Another small request, is to have the ability to make mentions case insensitive. In suggestion list I have names, which are capitalized, and users have to use capitals too, otherwise there's no match at all.

Thanks!

[2017-01-27 13:36] jamesbillinger opened #189 "Pass through ...props"
Would you consider passing `...props` through to the draft-js editor?  I have to add a custom `blockRenderMap` to the Editor and am unable to do so with current code.  I can submit a PR if it would help.

[2017-01-27 13:39] jpuri commented on #189
Check this: https://github.com/jpuri/react-draft-wysiwyg/blob/master/js/src/components/Editor/index.js#L76

you can already pass that as props, I missed to mention that in docs, I will add it

[2017-01-27 13:47] jamesbillinger commented on #189
Ah, actually the `blockRenderMap` is a different property than the `blockRendererFn`.  I don't totally understand it - but suffice it to say that if I can't override the `blockRenderMap` for my custom video entity then draft-js throws a hard error.

[2017-01-27 17:16] gregBerthelot commented on #186
Would be great to be able to add any icon font like Awesome font :)

[2017-01-28 05:21] jpuri commented on #188
Sounds good @Fouppy, I will add a flag in mention configuration to make them case insensitive 👍

[2017-01-28 07:01] jpuri commented on #186
@gregBerthelot: good idea, I will prioritize it. I do not have time immediately to do this, later I will work on it.

[2017-01-29 17:48] #188 closed

[2017-01-29 17:49] jpuri commented on #189
Just released fix in version `react-draft-wysiwyg@1.6.4`. Closing the issue.

[2017-01-29 17:49] #189 closed

[2017-01-29 17:49] jpuri commented on #187
Just released fix in version `react-draft-wysiwyg@1.6.4`. Closing the issue.

[2017-01-29 17:49] #187 closed

[2017-01-29 17:50] jpuri commented on #150
Just released change in version `react-draft-wysiwyg@1.6.4`. Closing the issue.

[2017-01-29 17:50] #150 closed

[2017-01-29 17:50] jpuri commented on #156
Just released fix in version `react-draft-wysiwyg@1.6.4`. Closing the issue.

[2017-01-29 17:50] #156 closed

[2017-01-29 17:51] jpuri opened #191 "Support for custom emojis like fontawesome icons"

[2017-01-29 17:51] jpuri commented on #186
Closing this issue, I have created another to support icons like font-awesome.

[2017-01-29 17:51] #186 closed

[2017-01-29 22:09] devnetf commented on #180
@jpuri @files3  he was asking if it is possible to customize the style where the red arrows are pointing.

[2017-01-30 04:49] Srisuk opened #192 "Issue related to display the content of the editor."
Hi,

Is there any attribute to hold the value(text) of the editor,if yes please suggest.Kindly help.

Thanks

[2017-01-30 04:51] jpuri commented on #192
Hey @Srisuk , I do not get your question.

[2017-01-30 05:07] Srisuk commented on #192
Hi,
I want to display the content in the text editor after saving the content in database and display the same content while reopening the editor.
Now we have only "Placeholder" as an attribute to display the content when we open the text editor for the first time.
So,In the same way do we have any attribute to display the fetched content from database??
Kindly help.

Thanks

[2017-01-30 05:17] jpuri commented on #192
@Srisuk: yes that of course works, check `Controlled / Un-Controlled editor component` section in docs (https://jpuri.github.io/react-draft-wysiwyg/#/docs).

[2017-01-30 05:28] Srisuk commented on #192
Hi Jyoti,
My concern is related to display the content. I will elaborate my doubt.
I am creating a page in which when i click on a button Editor will open and i am writing some content inside an editor and then storing in database.
I am able to store the content in database but when i am opening again the editor to "edit it" i need some attribute to display the content from database.
I am using pl

[2017-01-30 05:43] jpuri commented on #192
`editorState`, `contentState`, `defaultEditorState` are the attributes. You can refer to example here: `https://github.com/jpuri/react-draft-wysiwyg/blob/master/js/playground/index.js#L105`.

[2017-01-30 05:58] Srisuk commented on #192
editorState, contentState, defaultEditorState to store the content of the editor and send back to database n all purpose but these attributes are not used for displaying content.Like we have "value" attribute in <textarea /> tag to display the content but we don't have "value" attribute in Editor.So is there any attribute to display the content.

[2017-01-30 07:25] nyrosmith commented on #192
to get your content for storing it in the DB
`convertToRaw(this.state.editorState.getCurrentContent())`
And to load your saved editorState you just assign it to the editorState:
`editorState: EditorState.createWithContent(convertFromRaw(rawEditorStateFromDataBase))`

[2017-01-30 07:33] jpuri commented on #180
Thanks @devnetf.

@files3: Toolbar property has a parameter `popupClassName` for images. You can use it to style popup above.

You can nest css selectors to access sections you have highlighted.

Hope that helps, please let me know.

[2017-01-30 08:41] Srisuk commented on #192
Hi ,

Thanks for the help,now its working.
But once i am getting the content inside my editor i am unable to type anything as getting error its immutable.
Can u pls tell me how to remove the immutable from the editor and make it mutable.

Thanks

[2017-01-30 08:56] nyrosmith commented on #192
Can you provide a fiddle so I can check what's going on in your code?

[2017-01-30 09:46] Srisuk commented on #192
Hi,
I am getting this error:-
contentState.getBlockMap is not a function at convertFromDraftStateToRaw

Kindly find the code below and help to resolve the issue:-
  getInitialState: function () {
        let editorState;
        let inputText="<p>Editor Content for text </p>";

        if(inputText){
        const blocksFromHTML = convertFromHTML(inputText);
      const contentState = ContentState

[2017-01-30 10:44] Fouppy commented on #188
Nice, thanks!

[2017-01-31 07:11] SoniaBalodi opened #193 "Error while installing react-draft-wysiwyg"
Hi,

Few days back when i installed this package it was fine. But today I am getting below error. Please suggest.

D:\new folder\Design-Studio\client>npm install react-draft-wysiwyg
npm WARN addRemoteGit Error: Command failed: git -c core.longpaths=true config -
-get remote.origin.url
npm WARN addRemoteGit
npm WARN addRemoteGit     at ChildProcess.exithandler (child_process.js:213:12)
npm WARN add

[2017-01-31 07:49] jpuri commented on #193
Hey @SoniaBalodi, Trouble seems to be coming from this repo: `git://gith
ub.com/jpuri/draftjs-utils.git`.

Can you plz share your package.json.

[2017-01-31 08:14] SoniaBalodi commented on #193
package.json :

{
  "name": "fabric-ui",
  "description": "ReactJS component library with crisp, elegant and super-easy-to-use components.",
  "author": "Jiten Poddar <>",
  "private": true,
  "version": "0.1.0",
  "license": "MIT",
  "main": "dist/fabric-ui.js",
  "scripts": {
    "build": "webpack --config webpack.config.js",
    "build-docs": "webpack --config webpack.dev.config.js",
    "start

[2017-01-31 08:18] SoniaBalodi commented on #193
One more update. I tried installing package - react-draft-wysiwyg separately in an empty folder. Getting below error:

D:\New folder (2)>npm install react-draft-wysiwyg
npm WARN addRemoteGit Error: Command failed: git -c core.longpaths=true config -
-get remote.origin.url
npm WARN addRemoteGit
npm WARN addRemoteGit     at ChildProcess.exithandler (child_process.js:213:12)
npm WARN addRemoteGit

[2017-01-31 08:21] jpuri commented on #193
Hey @SoniaBalodi : I am looking at it, will soon update.

[2017-01-31 08:46] jpuri commented on #193
Hey @SoniaBalodi : I just published version `react-draft-wysiwyg@1.6.5`, try this out. Looks like you had issues coz of access for this repo on the machine you were installing: git://gith ub.com/jpuri/draftjs-utils.git.

I am not sure why you got this issue since its working well for me, the change should anyways fix it for you also.

[2017-01-31 09:01] SoniaBalodi commented on #193
Hey @jpuri : Thankyou so much , I am now able to install the package.

[2017-01-31 09:01] #193 closed

[2017-01-31 09:03] jpuri commented on #193
👍  thanks for reporting the issue.

[2017-01-31 10:15] nyrosmith commented on #192
Can you provide a link to the repo or create a small sample on codepen or a similar system?
To be honest I have no clue what this code should be doing....
@jpuri do you know of an existing fiddle that could be used as a starting point? If not, maybe creating one would be a good idea. Especially for this type of questions

[2017-01-31 10:37] jpuri commented on #192
@Srisuk `convertFromHTML` supports only a subset of html, the error you mentioned above seems to be coming from there. I would suggest you to save editor state as JSON and not as HTML.

Agreed @nyrosmith: its good idea to have a fiddle. I will try to create one as I get time. In the meantime @Srisuk you can check this: https://github.com/jpuri/react-draft-wysiwyg/blob/master/js/playground/index.js

[2017-01-31 10:56] nyrosmith commented on #192
@jpury Is it ok if I try to get a fiddle up and running? It might take some time but I think this is a good opportunity for contributing back to this excellent project.

[2017-01-31 10:58] jpuri commented on #192
Contributions are welcome, thanks a lot @nyrosmith 👍

[2017-02-01 11:12] Srisuk commented on #192
Hi all,

Thanks for the help...my code is running now.
Thank u so much..:)

[2017-02-01 11:16] Srisuk opened #194 "Binding issue with some of the features of toolbar."
Hi Jyoti,

I am having issue with the binding of the features in the toolbar.
The toolbar features like BOLD/ITALIC/BLOCKQUOTE which are present in draft.js is absolutely working fine while saving the content.
But the features added in react-draft-wysiwyg like color/font/text align etc.. are not working while saving the data
Kindly help to resolve the issue.

[2017-02-02 04:19] files3 commented on #180
@jpuri thanks

[2017-02-02 04:23] files3 opened #195 "the Chinese language"
Hello, I would like to ask where can change the language I want to change into Chinese

[2017-02-02 13:57] hmontes opened #196 "¿Original Sass react-draft-wysiwyg.css file?"
Hi!

First. Congratulations for your excellent component. Is really awesome!

Do you have the original .scss (or .sass) file for react-draft-wysiwyg.css? I want to customize a bit and its more easy with the original file.

Thanks

[2017-02-02 14:01] jpuri commented on #196
Hey @hmontes:

Thanks :)
I did not used SASS for the project, I used .css files only which are in the repo next to .js file for each component.

[2017-02-02 14:06] hmontes commented on #196
Oh. Sorry. I have problems to import the css. So, i unminify the css and i put the code in a personal sass file.

Thanks for the support. BTW, do you have themes?

[2017-02-02 14:08] jpuri commented on #196
Hey @hmontes , No I do not have themes. There is one example at bottom here you can check: https://jpuri.github.io/react-draft-wysiwyg/#/demo

This is corresponding code: https://github.com/jpuri/react-draft-wysiwyg/blob/master/docs/src/components/Demo/index.js#L235

[2017-02-02 14:11] hmontes commented on #196
Very nice work! And nice (and useful) demos.

Last question. In your experience. How you recommend to save the generated data (text and image links) in a sql database. In Json or Html?

Thanks for your excellent support :)

[2017-02-02 14:14] jpuri commented on #196
Thanks :)
I strongly recommend JSON format. Convert it to html(https://github.com/jpuri/draftjs-to-html) using only when needed for display purpose.

[2017-02-02 14:15] hmontes commented on #196
Thank you for your help and advices. :)

i try to edit the css like the quicly reply from github :)

[2017-02-02 14:15] #196 closed

[2017-02-02 16:57] jpuri commented on #196
👍

[2017-02-05 04:16] hiei189 opened #197 "unmet peer dependency draft-js"
Hi

First of all, thanks for the awesome work.

If I do `npm install --save draft-js` I get unmet dependency due to` 0.9.x` in `package.json`. So I have to install `0.9.x` but then I get `iterable.length has been deprecated` warning because of [draft issue](https://github.com/facebook/draft-js/issues/607).

[2017-02-05 09:47] jpuri commented on #197
Hey Looks like its time for me to upgrade draft, I will do it soon.

[2017-02-05 15:41] jpuri commented on #192
Hi,

Closing this issue thanks @Srisuk, @nyrosmith .

[2017-02-05 15:41] #192 closed

[2017-02-05 16:34] jpuri commented on #197
Plz check `react-draft-wysiwyg@1.7.0` released today.

[2017-02-05 20:27] hiei189 commented on #197
oh nice.

I still getting the same warning, though. any idea? I thought It was beacuse of draft version.

[2017-02-05 20:32] hiei189 commented on #197
Warning appears only when <Editor /> is controlled. Otherwise it works nice.

[2017-02-06 09:12] jpuri commented on #197
Hey @hiei189 , can you paste the warning and also your code ?

[2017-02-06 14:09] hiei189 commented on #197
Sure. I'm using `redux-form` to make it controlled.

[code]

and the warning is

[code]
it occurs everytime I focus/blur/write/etc the Editor component.

[2017-02-06 18:28] devnetf commented on #195
@files3 https://github.com/jpuri/react-draft-wysiwyg/issues/177

[2017-02-07 13:55] hmontes opened #201 "Headers like button"
Hi

I try to convert your default theme to something like that: http://codepen.io/Kiwka/pen/YNYvyG

But i have a question. Can i set a buttons for the headers (H1, H2, etc) instead of a dropdown menu?

Thanks

[2017-02-07 14:20] jpuri commented on #201
Yes you can do this using this value in toolbar property: https://github.com/jpuri/react-draft-wysiwyg/blob/master/js/src/config/defaultToolbar.js#L46

[2017-02-07 14:23] hmontes commented on #201
Can i replace the inline images (B, I, U, etc) with a text in a span?

[2017-02-07 14:32] jpuri commented on #201
nopes they take icon, may be you can add icon with text 'Bold', ....

[2017-02-07 14:34] hmontes commented on #201
good idea. I'll try.

Thank you for your effort :)

[2017-02-07 14:38] hmontes commented on #201
Last question. Can i remove the "Normal" button in headers (Normal, h1, h2, ...)? The idea is. If nothing is pressed (any header button) the default behavior is a normal text.

[2017-02-07 14:42] jpuri commented on #201
yes it shows in those options which  you pass in array: https://github.com/jpuri/react-draft-wysiwyg/blob/master/js/src/config/defaultToolbar.js#L47

docs also mention this

[2017-02-07 14:48] hmontes commented on #201
I have a problem.

[code]

The console shows an error: Uncaught TypeError: Cannot read property 'className' of undefined

But if i remove the "inline" options in the toolbar variable:

[code]

The app works. What is the problem?

[2017-02-07 14:53] hmontes commented on #201
Apparently. Is the "code" option the problem. Maybe is an old function documented. :)

[2017-02-07 14:55] jpuri commented on #201
true :)

[2017-02-07 14:56] hmontes commented on #201
WARNING: DraftEntity.create will be deprecated soon!
Please use "contentState.createEntity" instead.

When i test the image function (i put from a link).

Sorry for use this issue. But i'm helping to improve your awesome WYSIWYG :)

[2017-02-07 16:41] #201 closed

[2017-02-07 16:47] hmontes opened #202 "How can i pass a custom class to a blockquote?"
Hi again.

I want to pass a class to the blockquote. How can i make that?

[code]
Thanks

[2017-02-07 17:35] jpuri commented on #202
Hey,

You can do css styling for for tag `blockquote` if you need something more specific then add class to editor or dev enclosing editor and `.classEnclosing > blockquote`.

[2017-02-07 17:37] jpuri commented on #201
Thanks, yep I know this warning, I will fix it soon 👍

[2017-02-07 18:57] hmontes commented on #202
How?

Can i inject a class to a H3 tag too?

(The final Text. NO THE TOOLBAR)

[2017-02-07 18:59] jpuri commented on #202
[code]

Same for `h3`.

[2017-02-07 19:05] hmontes commented on #202
Fine. But can i pass a custom css?

[code]

Thank you for your patience :)

[2017-02-07 19:13] jpuri commented on #202
Nopes :(
On 8 Feb 2017 00:35, "Hernán Montes" <notifications@github.com> wrote:

[2017-02-07 19:13] hmontes commented on #202
No problem. I'll try to style the code.

Thanks :)

[2017-02-07 19:13] #202 closed

[2017-02-08 07:51] volkandkaya opened #203 "Unordered list and left/center/right align not working as expected"
While testing the wysiwyg I found if I use ul and left align it breaks and doesn't show the bullet points from ul.

[2017-02-08 14:47] ryanaleksander opened #204 "Uncaught TypeError: editorState.getImmutable is not a function"
I've got this error whenever I issued any actions with the editor.
[code]
Code (unnecessary details omitted)
[code]

[2017-02-08 16:29] jpuri commented on #204
Hey @ryanaleksander , what version of the lib and draftjs are you using ?

[2017-02-09 00:01] ryanaleksander commented on #204
@jpuri I'm using draft.js 0.10.0 and react-draft-wysiwyg 1.7.0

[2017-02-09 06:20] Uysim opened #205 "selection callbacks"
Can I have and callbacks call on select which will trigger when text select?

[2017-02-09 11:13] jpuri commented on #205
Hey @Uysim, you can use  on change method and check selection state in editor state each time to see if its has changed.

[2017-02-09 11:36] jpuri commented on #204
I do not expect this  this kind of issue in latest version, let me again check and get back to you in some time.

[2017-02-09 18:54] jpuri commented on #204
@ryanaleksander: I could not replicate the issue using code above. Can you share your whole component - that will help me see the issue.

[2017-02-09 23:44] ryanaleksander commented on #204
The component
[code]
package.json
[code]

[2017-02-10 00:45] #205 closed

[2017-02-10 00:47] Uysim opened #206 "I lost inline style when import from html"
After edit text I save it as html then I import from that html I lost all inline style example like color and font size

[2017-02-10 03:45] ryanaleksander commented on #204
I tried using Editor in another component and the same issue persisted. I'm also having problem with customizing toolbar. Not sure if I'm doing it right.
[code]

[code]

[2017-02-10 03:53] RifeWang opened #207 "what does "file:..." mean in package.json ?"
what does "file:..." mean?  i downloaded your exmple and npm start but got the error "cannot find the file or dirctory".
this is the part of your /doc/package.json:
[code]

[2017-02-10 04:39] jpuri commented on #207
Hey @RifeWang,

There are relative dependencies in docs. You can replace with latest versions of draftjs-to-html, and draftjs-to-markdown from npm.

[2017-02-10 06:29] RifeWang commented on #207
thank you for your help!

[2017-02-10 06:29] #207 closed

[2017-02-10 06:53] kyle516 commented on #197
@hiei189 You shouldn't pass the EditorState object as payload to redux-form directly, you can convert it into plain string value before pass to redux-form (also save in DB as string).

Like this
[code]

[2017-02-10 09:01] niaofei2008 opened #208 "how can I get the path of the image which I upload from local"
export default function uploadCallback(file) {
  return new Promise(
    (resolve, reject) => {
      resolve({ data: { link: "http://dummy_image_src.com" } });
    }
  );
}
<Editor toolbar={{ image: { uploadCallback: this.uploadCallback }}}} />

[2017-02-10 17:33] jpuri commented on #208
@niaofei2008: you need to provide your own api to editor for image upload and plug it in using a callback.

[2017-02-10 17:34] jpuri commented on #206
@Uysim: which lib did you used to re-generate draftjs state.

Another important thing, I strongly recommend not converting content to html just for saving it. Save it in JSON and convert to HTML when needed for display.

[2017-02-10 17:36] jpuri commented on #204
On thing `underlined ` is typo.

[2017-02-10 17:48] jpuri commented on #204
I am wondering that component state is not effected by may be some redux-selector.

[2017-02-10 17:56] jpuri commented on #204
Please use `onEditorStateChange` instead of `onChange`.

[2017-02-10 18:01] jpuri commented on #203
Thanks for reporting 😄 . I will check and fix it.

[2017-02-10 18:02] jpuri commented on #127
Implemented 🎉

[2017-02-10 18:02] #127 closed

[2017-02-10 21:49] #197 closed

[2017-02-10 21:50] hiei189 commented on #197
I see my error now, thanks. Sorry about it.

[2017-02-10 23:49] luisrudge opened #209 "adding a mention in the same paragraph as other text deletes everything after the mention"
repro:
![editor](https://cloud.githubusercontent.com/assets/941075/22848333/caffad0c-efda-11e6-9798-8a41c8b0fa9e.gif)

[2017-02-11 00:37] ryanaleksander commented on #204
Thank you, it works perfectly now. Silly me for not reading the docs carefully

[2017-02-11 00:37] #204 closed

[2017-02-11 00:59] jpuri commented on #209
@luisrudge: I will check this soon.

[2017-02-11 07:06] dderr opened #210 "tabIndex={-1} does not work"
Can not set tabIndex to -1 due to the tabIndex={0} on line 396 of src/components/Editor/index.js

Can this be removed for use this.props.tabIndex instead?

![image](https://cloud.githubusercontent.com/assets/585448/22851899/b3bdd874-eff5-11e6-8204-bc2c9cf68e2d.png)

[2017-02-12 07:50] jpuri commented on #210
Thanks @dderr for reporting, I have moved to fix to master branch and will soon release.

[2017-02-12 07:50] jpuri opened #211 "Improving tab handling of toolbar."

[2017-02-12 07:59] jpuri commented on #194
@Srisuk, what are you going to save editor content and format. I mean in which format are you saving it and how are you re-hydrating the editor ?

[2017-02-12 08:54] jpuri commented on #180
Closing the issue.

[2017-02-12 08:54] #180 closed

[2017-02-12 08:55] jpuri commented on #174
Closing as there is no response, if required it can be re-opened.

[2017-02-12 08:55] #174 closed

[2017-02-12 08:57] jpuri commented on #155
embed.ly can be very useful here to support data extraction for a number of URLs. But its paid :(

I am looking for  nice open-source alternate to embedly to fix this issue.

[2017-02-12 08:58] jpuri commented on #138
Closing as there is no response, issue can be re-opened when needed.

[2017-02-12 08:58] #138 closed

[2017-02-12 17:28] jpuri commented on #209
@luisrudge: I have moved fix to master branch. I will release it after some testing.

[2017-02-12 18:07] jpuri commented on #203
Fix has been moved to master, I will soon test more and release it.

[2017-02-12 18:17] jpuri opened #212 "Fix the warning"
![screen shot 2017-02-12 at 11 44 12 pm](https://cloud.githubusercontent.com/assets/2182307/22864787/9a605954-f17d-11e6-8eb0-8037e57d9adb.png)

[2017-02-13 01:35] niaofei2008 commented on #208
uploadCallback(file):the param file has local path of image which i upload?

[2017-02-13 01:49] niaofei2008 commented on #208
@jpuri
<img width="963" alt="0bc56a30-3031-4f04-a653-4556a2691f72" src="https://cloud.githubusercontent.com/assets/13565079/22868479/7e5bd43c-f1d1-11e6-91ed-5cd9efb4610b.png">
upload local image ,the "src" is undefinde

[2017-02-13 03:19] jpuri commented on #208
![screen shot 2017-02-13 at 8 48 34 am](https://cloud.githubusercontent.com/assets/2182307/22869952/3ec3b4e6-f1c9-11e6-9385-2bdeb0385882.png)

Works for me, what kind of image are you uploading ?

[2017-02-13 05:55] niaofei2008 commented on #208
@jpuri chose one picture from my computer,src=undefined

[2017-02-13 05:59] jpuri commented on #212
Changes have been moved to master will soon be deployed.

[2017-02-13 07:00] jpuri commented on #155
I am planning to provide a callback for developers to extract data from the URL and give back to editor. If the user does not provides  the callback the url will be embedded as such in an iframe.

At least for demo I plan to use embed.ly.

[2017-02-13 07:34] jpuri commented on #212
released in `react-draft-wysiwyg@1.7.4`.

[2017-02-13 07:34] #212 closed

[2017-02-13 07:35] jpuri commented on #210
Fix released in `react-draft-wysiwyg@1.7.4`.

[2017-02-13 07:35] #210 closed

[2017-02-13 07:35] jpuri commented on #209
Fix released in `react-draft-wysiwyg@1.7.4`.

[2017-02-13 07:35] #209 closed

[2017-02-13 07:35] jpuri commented on #203
Fix released in `react-draft-wysiwyg@1.7.4`.

[2017-02-13 07:35] #203 closed

[2017-02-13 09:31] whamtet opened #213 "Running Example Failure: cannot find draftjs-to-html and draftjs-to-markdown"
Hi Jyoti,

It appears from `config/webpack.dev.config.js` that you are directly linking repositories of `draftjs-to-html` and `draftjs-to-markdown`.  This caused a confusing 'not found' error for new users when running

    npm run start

without the linked repositories.

[2017-02-13 09:34] jpuri commented on #213
Oh... I will remove it from there. Thanks a lot for pointing this.

[2017-02-13 09:38] whamtet commented on #213
Thanks for the library!!

[2017-02-13 09:38] jpuri commented on #213
😄
fix is in repo now 👍

[2017-02-13 09:52] #213 closed

[2017-02-13 10:05] volkandkaya opened #214 "Feature: Line Height"
Adjustable line height would be great to have.

[2017-02-13 13:11] antonsavchenko94 commented on #204
@jpuri,  I have the same propblem. And it occurs when I try to turn html to editorState
`TypeError: editorState.getImmutable is not a function
    at Function.set (modules.js?hash=48bcc6b…:59909)
    at e.Q.createEditorState (modules.js?hash=48bcc6b…:57848)
    at e.value (modules.js?hash=48bcc6b…:57848)
    at modules.js?hash=48bcc6b…:21872
    at measureLifeCyclePerf (modules.js?hash=48bcc6b…:21

[2017-02-13 13:13] antonsavchenko94 commented on #204
My component:
`
import React, { Component } from 'react';
import { Panel } from 'react-bootstrap';
import { Editor } from 'react-draft-wysiwyg';
import { stateToHTML } from 'draft-js-export-html';
import { stateFromHTML } from 'draft-js-import-html';
import { compose } from "react-komposer";
import { getTrackerLoader } from "../../../../../lib/helpers";
import TestDescriptions from "../../../../ap

[2017-02-14 00:31] luisrudge commented on #209
Thanks @jpuri

[2017-02-14 00:57] luisrudge opened #216 "Mentions being rendered twice"
This is happening after I converted to HTML, so I'm not sure it's an issue with this project or with https://github.com/jpuri/draftjs-to-html.

![screen shot 2017-02-13 at 23 02 42](https://cloud.githubusercontent.com/assets/941075/22910356/8ea78808-f240-11e6-8ca0-7d3d35b522f1.png)

[code]

This is being converted to:

[code]

As you can see, there's two links there.

[2017-02-14 09:13] xaviertung commented on #214
yep, the gap is too wide now.

[2017-02-14 17:32] idrumgood opened #217 "Error in IE11 .startsWith"
The bug is coming from Draft.js, however I only encounter this when using react-draft-wysiwyg. I experience it both on your demo page, and when building the project locally and viewing that demo page in IE11.

` if (!query.startsWith(name)) {` line 1118 of Draft.js

[2017-02-14 17:43] idrumgood commented on #217
It appears this is a known example and they encourage you to use polyfills. https://github.com/facebook/draft-js/blob/69890ed57b5f4256cc93ae8e9ea178296851a23e/docs/Advanced-Topics-Issues-and-Pitfalls.md

[2017-02-14 18:40] jpuri commented on #217
Thanks for bringing this up @idrumgood 👍

[2017-02-14 19:10] MandarinConLaBarba opened #218 "Browser support matrix?"
Is there a browser support matrix anywhere? I noticed that the demo page doesn't load in IE11. I'm also experiencing odd behavior with the `react-draft-wysiwyg` in IE11. Specifically, the `onBlur` property appears to fire in different situations than with other browsers.

[2017-02-14 19:19] jpuri commented on #216
Hey @luisrudge, I see this is due to a recent change in api for draftjsToHtml. Hmmm I am sorry for the breaking change but I have added a param to `draftToHtml(contentState, hashtagConfig, directional, customEntityTransform)` check : https://github.com/jpuri/draftjs-to-html.

If second param is not null hashtags are generated since `#` is default starting character for hashtags and you are using i

[2017-02-14 19:22] jpuri commented on #218
Hi @MandarinConLaBarba, no browser support matrix is not there. I will check IE11, its imp to be supported. I will check demo page. Also, if you can mention other specific issues here I will check.

[2017-02-14 19:24] luisrudge commented on #216
np, @jpuri thanks for your help!

I'm using it like this and still having the same issue: `term.content = draftToHtml(contentState, undefined);`

[2017-02-14 19:30] jpuri commented on #216
Checking that.

[2017-02-14 19:39] jpuri commented on #216
Here is fix `draftjs-to-html@0.6.3`

[2017-02-14 20:06] luisrudge commented on #216
That's perfect. Thank you! 🎉

[2017-02-14 20:06] #216 closed

[2017-02-14 22:10] luisrudge opened #219 "MENTIONS: when you type the full word and click on an item, it adds last chars to the value"
In this gif, it's adding the last two chars. But Sometimes it adds just the last char, sometimes the last 3 chars...

![full-word](https://cloud.githubusercontent.com/assets/941075/22951740/759ac1ca-f2f1-11e6-9216-3097c1672427.gif)

[2017-02-15 06:29] ducnvhn commented on #196
hi @hmontes . How do you integrated SASS in your component. I cannot style the nested element of the toolbar like with classes like : "rwd-block-wrapper", "rdw-inline-wrapper"..etc.
Could you please share your solution please.

[2017-02-15 14:04] hmontes commented on #196
@ducnvhn Fine.

The Inline component (B, I, etc) are images. So, you can't style directly. I made a trick with that.

First. I put a custom class to the inline via param. something like that:

[code]
And my classes:

[code]
I'm added opacity to the inline components. Later i can show you the final result and my custom css (i'm modified the default css to). Right now i'm working in another thing bu

[2017-02-15 14:13] hmontes commented on #196
Ah. I forget. To integrate to sass.

1. Copy th
1. Copy all the css content (node_modules/react-draft-wysiwyg/dist/react-draft-wysiwyg.css) to a new file. In my case. "style/sass/plugins/draft/_wysiwyg.scss"
2. Cut the final lines (From 989 line aprox. Where the comments begin), paste in http://unminify.com/ and remove the comments.
3. Paste the result in another file. "style/sass/plugins/draft/_d

[2017-02-15 15:00] kimdotnet opened #220 "[ASK] set default value for height and width image upload?"
Is it possible to set default value for height and width of image when upload?
In current condition, the default value is auto for height and 100% for width.
![image](https://cloud.githubusercontent.com/assets/20101075/22979741/ff645118-f3c9-11e6-94b2-14a49c9ceb54.png)

Thank you

[2017-02-15 15:01] jpuri commented on #219
I see this was existing issue with scenario with mention value and text have different lengths, fix is there now.

Also @luisrudge, can you plz share ur mention configurations (props) for above scenario.

[2017-02-15 15:03] jpuri commented on #220
Not atm, but good idea. I will make it configurable using toolbar property soon 👍

[2017-02-15 15:11] tammomueller opened #222 "Recent update doesn't work with customBlockRenderer"
The recent update that passes the editor state to the block renderer doesn't pass it to the custom block renderer. A PR #221 has been created. It is based on master as develop didn't contain the feature.

[2017-02-15 15:59] luisrudge commented on #219
[code]

[2017-02-16 05:28] jpuri commented on #222
Merged the PR.

Thanks 👍 , closing this issue.

[2017-02-16 05:28] #222 closed

[2017-02-16 05:32] jpuri commented on #219
Thanks for sharing the details @luisrudge. Can you also plz check and let me know if you still face this issue in latest version.

[2017-02-16 22:04] gdepina opened #223 "Identation button doesn't work?"
@jpuri
Hi, i try to use the identation functionality without succes.

![output](https://cloud.githubusercontent.com/assets/14336357/23043361/c8992ed6-f47a-11e6-9ddb-87fec2c98c55.gif)

[2017-02-17 01:09] luisrudge commented on #219
Hi @jpuri. I tested again and it's still not working with the latest npm version.
![editor](https://cloud.githubusercontent.com/assets/941075/23048435/ea6ee43e-f49c-11e6-9270-84a77b9d227c.gif)

[2017-02-17 01:09] luisrudge commented on #219
I also found an issue that happens when you try to add a mention in the middle of the sentence:
![editor2](https://cloud.githubusercontent.com/assets/941075/23048443/f9423a24-f49c-11e6-9981-94fc71e361e0.gif)

[2017-02-19 19:49] gregBerthelot commented on #223
Hi @gdepina. Indentation is supposed to work with list. Apply list first and it will work as expected

[2017-02-20 12:32] gdepina commented on #223
Hi @gregBerthelot thanks u a lot, but i think that behavior is wrong, look at tinymce and what it do with these button, made an space in selected line.
http://codepen.io/tinymce/pen/YydQrY

[2017-02-20 16:14] Xurma2 commented on #173
@jpuri Hi!
Its ready?

[2017-02-20 16:17] luisrudge commented on #219
cc @jpuri

[2017-02-22 18:41] rloomba commented on #204
@jpuri any thoughts on potentially adding `onChange` in addition to `onEditorStateChange`? This seems to be the standard for react components...and spent a bit of time debugging this. Happy to submit a PR if you think that's OK?

[2017-02-23 18:09] JohnnyRuvac commented on #208
I have similar problem with uploaded images, src attribute is unknown after I save content of Editor as html to db and then open it back.
I found that this issue happens only if I return relative image path from my promise. If API returns absolute path, everything works as expected.

This is how I retrieve html from editorState:
`getHtml(editorState) {
    const rawContentState = convertToRaw( edi

[2017-02-24 19:57] mikeLspohn opened #226 "CSS for text input missing?"
I spent around 30 minutes trying to figure out why the plugin wasn't working for me, then I realized it was. There was no border around the contenteditable area, so I didn't even realize it was there and just thought I was doing something wrong. Is there default css that is missing for that?

[2017-02-24 22:05] gregBerthelot commented on #223
Hmm, tinymce does but CKE does not. From my POV, indent is a list feature but this could be a nice enhancement

[2017-02-26 13:49] jpuri commented on #223
Agreed @gdepina, @gregBerthelot: this could be a nice enhancement.

[2017-02-26 21:13] gregBerthelot opened #227 "Image behavior"
Hi

Currently adding image between 2 words split content into 2 <p> which suppose img is considered as a block element but according to https://developer.mozilla.org/en-US/docs/Web/HTML/Inline_elements img is an inline element.

`<p>word1 word2</p>`

Insert img between the 2 words result to
[code]
http://g.recordit.co/sDbYcekhMv.gif

We should get

`<p>word1 <img src="somePath"> word2</p>`

http:/

[2017-03-01 01:53] alexf101 commented on #223
Either way, clicking on a button that then... does nothing... is a confusing experience. The button should be disabled unless you're inside a list, or should always have an effect.

[2017-03-04 06:32] mguijarr commented on #177
@jpuri Do you have a plan for this? I mean, I would be happy to contribute french language in a PR, but I do not know how to start. Any help would be appreciated.

[2017-03-06 15:22] devnetf opened #230 "Feature Request: Tables"
![tablesdraft](https://cloud.githubusercontent.com/assets/4071282/23615965/305cf8de-0256-11e7-9f1e-3abfdb13d54c.png)

Would be nice if we can add tables like in Google Doc. I saw someone already tried with https://www.npmjs.com/package/draft-js-table.
However, it would be better if we can have it in react-draft-wysiwyg. :)

[2017-03-07 17:40] jpuri commented on #230
Hey @devnetf, this is good suggestion. Its going busier for me atm, I will do it as soon as I get some time 👍

[2017-03-07 17:41] jpuri commented on #227
Hey @gregBerthelot: I see your point, I will look into it.

[2017-03-07 17:42] jpuri commented on #223
I agree @alexf101, I will make this change.

[2017-03-07 17:43] jpuri commented on #226
Hey @mikeLspohn: check `Styling Editor` section here: https://jpuri.github.io/react-draft-wysiwyg/#/docs

[2017-03-09 09:45] volkandkaya opened #231 "Bug: Not able to change colour of ordered list numbers."
The numbers are always black.

I think it is important to be able to change their colour.

[2017-03-10 08:44] roychoo opened #232 "Disable toolbar options"
Hi,

if i want to disable all the toolbar options, whats the proper way to do that?
the use case could be that we do not allow the user to change the styles at all but only text
i tried to disable it by passing the toolbar options like

[code]

but this give me an error due to https://github.com/jpuri/react-draft-wysiwyg/blob/master/js/src/components/Editor/index.js#L400

i could submit a PR but w

[2017-03-11 15:24] #232 closed

[2017-03-12 05:23] mbrnwsk commented on #8
Hi,

It would be nice to have an option to pass <i />, not only images. Would you consider this? Or maybe there is a way to achieve this?

[2017-03-12 06:35] mbrnwsk commented on #123
The issue still exists - there is a conflict if we have `box-sizing: border-box` applied to all elements globally (this is what normalizr.css does); react-draft-wysiwyg.css uses `box-sizing: content-box` which causes inconsistencies. Since a lot of users use normalizr I would suggest to switch to `border-box` in rdw.

[2017-03-12 13:20] jpuri commented on #123
I will look into this @mbrnwsk

[2017-03-12 13:59] jpuri commented on #8
Hey @mbrnwsk, you can achieve a lot of customization using css class and image already. Also editor supports adding custom options to toolbar.

Atm , its not possible to pass whole customize toolbar button for existing toolbar options.

[2017-03-12 14:22] ZeroCho commented on #123
yes. I also use box-sizing: border-box globally and it conflicts with rdw

[2017-03-13 05:31] CallMeXYZ opened #236 "ordered list number label font-size"
now it seems that the number label of ordered list has a fixed fontSize and fontFamily, would it be performance that the number label style follows the first letter of the line?

[2017-03-13 05:35] CallMeXYZ commented on #236
and after changing the font family,the font size of next inputing text  will be of the line, would it be better that the new input text font size keep same with the former.

[2017-03-13 09:05] colin-jack opened #237 "Documentation - Make it clear what versions of draft-js a release is compatible with."
I think it is worth documenting which versions of draft-js a particular release of react-draft-wysiwyg
 is compatible with.

[2017-03-13 19:46] lavoiedn opened #238 "Error in Firefox/Safari when using keyboard navigation after inserting an image"
Greetings,

When using Firefox (version: 54.0a2 (2017-03-13)), I encountered an error with keyboard navigation and image insertion. Here are the steps to reproduce:

1. Insert an image.
2. Using the up and down arrows on your keyboard, place the caret to the right of the image.
3. Start entering text.

After following those steps, an error will appear in your browser's console:

Any text entered w

[2017-03-13 22:20] mguijarr commented on #238
I found the same issue.
I tried to fix it, but no luck.
I read about a similar issue [here](https://github.com/draft-js-plugins/draft-js-plugins/issues/500) (if it helps ?)

[2017-03-14 17:38] Amitom opened #239 "Impossible to disable Hashtag"
All is in the title but despite hashtag props is not defined, the Editor transforms #xxx to an hashtag.

:/

[2017-03-14 17:50] jpuri commented on #239
Not for me
![screen shot 2017-03-14 at 11 19 40 pm](https://cloud.githubusercontent.com/assets/2182307/23914720/d2c52904-090c-11e7-8c58-17936a979de6.png)

[2017-03-14 17:57] Amitom commented on #239
Visually it isn't, but in the generated html there is a link for me :/
![react-wysiwyg-hashtag](https://cloud.githubusercontent.com/assets/7102987/23914935/db3560c6-08bd-11e7-8ae4-78ee22add917.png)

[2017-03-14 17:59] jpuri commented on #239
Check readme @Amitom: https://github.com/jpuri/draftjs-to-html

If you are passing a not-null `hashConfig` parameter it will generate hashtag in result.

[2017-03-14 18:11] Amitom commented on #239
Doesn't work :(

draftToHtml(convertToRaw(currentContent)) <= NOK
draftToHtml(convertToRaw(currentContent), null) <=NOK

[2017-03-14 18:18] jpuri commented on #239
On what versions are you, its working as expected in latest docs.

[2017-03-14 18:23] Amitom commented on #239
Hum ... my bad I'm currently with 0.6.2 version of "draftjs-to-html", upgrade resolves my issue, sorry :/

[2017-03-14 18:23] #239 closed

[2017-03-14 19:35] cveilleux commented on #217
+1, it makes no sense for every libraries in the world to bundle their own polyfills.

your end project should bundle a string.startswith polyfill once.

At best, some projects have started indicating the need to polyfill IE in their README.

[2017-03-14 19:39] cveilleux opened #241 "Mixed upper / lower case everywhere in sources"
The project does not run on a case-sensitive OS (linux) because the source files are mixed case.

Here is the errors output after a `npm start` on `master` branch:

[code]

Here is the content of the `js/src/` directory under linux:

`components  config  Decorators  decorators  event-handler  i18n  index.js  Renderer  renderer  Utils  utils`

You can see the duplicate `decorators`, `renderer` and

[2017-03-15 01:10] roychoo commented on #241
Yeah I got this too when trying to submit a travis job with linux os due to the case sensitive.
Wanted to look at it this coming weekend. But i do not mind that you are taking over so...
:+1

[2017-03-15 16:29] lavoiedn commented on #241
I wrote a pull request that should fix any case issue.

I added an eslint rule that will raise a lint error on unresolved dependencies (case-sensitive).

I also had to do some changes to the webpack dev config to be able to do `npm start`.

[2017-03-16 19:58] lavoiedn commented on #241
I tried opening the source code on a Windows machine and I was very confused by the difference in filesystem!

I tried a slightly more "aggressive" fix where I removed duplicate folders.

I'd rather get feedback on it first in case there was a reason for the different case. Here it is: https://github.com/DesjardinsLab/react-draft-wysiwyg/commit/1179265c84f6d8fed3479ce79e07b88350fef2db

[2017-03-17 04:00] wynziguanhui commented on #185
@jpuri Is there a specific time?

[2017-03-17 04:02] wynziguanhui commented on #230
@jpuri Is there a specific time?

[2017-03-17 20:03] gablabelle opened #247 "When you drag and drop an image in the image uploader from another browser it crashes."
When you drag and drop an image in the image uploader from another browser window or tab it crashes. Will submit a PR to prevent crash.

[2017-03-20 08:31] CallMeXYZ opened #252 "uploadCallback error handling"
could you supply a demo error handling inside uploadCallback? now, either `reject(error)` or `throw` inside the promise returned can cancle the loading state.
now i just uglily return false to cancel loading when error  happens
[code]

[2017-03-20 09:10] xaviertung opened #253 "V1.8.0 font family placeholder is "PingFang SC""
V1.8.0 font family placeholder is "PingFang SC", is it a bug?

[2017-03-20 09:22] jpuri commented on #253
@xaviertung: Font family dropdown now shows default font-family applied to editor.

[2017-03-20 09:46] xaviertung commented on #253
@jpuri It happens by default config on V1.8, when switched to V1.7.9 all is OK.

[2017-03-20 09:52] jpuri commented on #253
Yep by default it will show the font-family active in editor. This is behavior by Microsoft word.

[2017-03-20 10:04] xaviertung commented on #253
@jpuri This is my demo:```
<Editor
						editorState={editorState}
						onEditorStateChange={this.onEditorStateChange.bind(this)}
						toolbarClassName="demo-toolbar"
						wrapperClassName="demo-wrapper-medium"
						editorClassName="demo-editor"
						toolbar={{
						  options: ['inline', 'blockType', 'fontSize', 'fontFamily', 'remove', 'history'],
						  inline: {
							options: ['bold', '

[2017-03-20 18:40] lavoiedn commented on #252
My team and I were wondering the same thing about the best practice for handling upload errors. We found a solution but if I remember correctly it still fails in the `then` call when the image is uploaded because of the missing rejection handler. Perhaps the solution would be to allow an optional error handling callback (something like`uploadErrorCallback`) to be passed with the options for the im

[2017-03-20 18:47] gablabelle commented on #252
@lavoiedn yes in fact we also did almost the same change he did in the fork https://github.com/Amitom/react-draft-wysiwyg/commit/46ea06b800e7ec844d5d17493551cea025eb8136

[2017-03-21 02:02] CallMeXYZ commented on #252
@lavoiedn it seems that your method cannot cancel loading state either.Haven't thought that the error was not caught,hah

[2017-03-21 06:08] xiaoqian9 opened #255 "editorState.getImmutable is not a function"
![image](https://cloud.githubusercontent.com/assets/20238870/24134510/ced759b0-0e3f-11e7-974d-8df4aeca2430.png)

[2017-03-21 06:08] xiaoqian9 commented on #255
Does anyone know?

[2017-03-21 14:41] lavoiedn commented on #252
@CallMeXYZ Yeah you are right, I realized that we had to make other changes to get it to work as @gablabelle says. The fix @the1sky suggested in #254 would probably fix all those issues since it resets the image upload widget's state.

However, if I'm not mistaken, that implementation will not propagate the error, preventing users from displaying the error the way they want to.

I'm not an expert

[2017-03-21 16:43] jpuri commented on #253
Hey @xaviertung `react-draft-wysiwyg@1.8.1` has the fix.

[2017-03-21 16:50] CallMeXYZ commented on #252
@lavoiedn I think we dont have to.Who will catch the `reject`  and who you want the error be propagated to? It's a resonable procedure that user handle their own Api request,return propriate values to the editor and the editor manage the state by the values.

[2017-03-21 16:50] jpuri commented on #255
Hey @xiaoqian9, which version of DraftJS are you using ?

[2017-03-21 16:52] jpuri commented on #230
@wynziguanhui: Nope :(

I want to work on some more priority stuff before I start on this.

[2017-03-21 16:54] jpuri commented on #252
Agree with @CallMeXYZ

[2017-03-22 01:17] xiaoqian9 commented on #255
@jpuri Draft v0.10.0

[2017-03-22 02:00] ducnvhn opened #256 "Clicking on image upload box does not open file browser!"
I try to click on Image upload box which does not open the file browser to browse the file as demo page. Drag and drop works as expected. Anyone else have same issue ? _**_react-draft-wysiwyg": "^1.7.4",_**_

[2017-03-22 03:38] jpuri commented on #256
@ducnvhn : it works on latest version `react-draft-wysiwyg@1.8.3`.

[2017-03-22 05:46] the1sky commented on #252
@CallMeXYZ , as you say, image upload state always be set with:

`this.setState({
        showImageLoading: false,
        dragEnter: false,
      });`

but editor always insert an empty image

[2017-03-22 05:49] jpuri commented on #252
@the1sky: I think it would be nice fix to add image only if non-null value is returned. Plz suggest.

[2017-03-22 06:08] CallMeXYZ commented on #252
@the1sky didn't get you.What i'm saying is  to explain why we don't need propagate the error inside the root editor.
I mean users may supply `uploadCallback ` like below
[code]
then the editor manager itself by the resolved data (show img,cancel loading) or the rejected error (cancel loading,maybe show error in debug mode) .
As @jpuri  said, we'd better validatethe data  even if the user resolve a

[2017-03-22 06:40] the1sky commented on #252
@CallMeXYZ yeah, should validate the data, and clear error in debug mode

[2017-03-22 07:25] 4simple opened #257 "colorPicker can not work in demo"
https://jpuri.github.io/react-draft-wysiwyg/#/

There is an error when i click colorPicker icon

`Uncaught ReferenceError: translations is not defined
`

[2017-03-22 07:59] jpuri commented on #257
Thanks for reporting, its fixed now.

[2017-03-22 13:14] 4simple commented on #257
Great, It works now.

[2017-03-22 13:14] #257 closed

[2017-03-22 15:54] xaviertung commented on #253
@jpuri Thank you to take my advice.

[2017-03-22 15:54] #253 closed

[2017-03-22 16:55] jpuri commented on #253
Thanks a lot for advice @xaviertung and sorry for the delay :)

[2017-03-23 02:11] ducnvhn commented on #256
updated to @1.8.3 but still cannot open the file browser (Google Chrome / Firefox / Android browser..).

[2017-03-23 02:16] GoFighting opened #258 "if i modify, fontsize will add much 12！"
![Uploading image.png…]()

[2017-03-23 03:03] GoFighting commented on #258
![image](https://cloud.githubusercontent.com/assets/13616686/24230118/4fd43032-0fb8-11e7-8442-b09074219b40.png)

[2017-03-23 03:03] GoFighting commented on #258
![image](https://cloud.githubusercontent.com/assets/13616686/24230126/567ac496-0fb8-11e7-9f4e-a7b28ac2b580.png)
like this

[2017-03-23 03:18] jpuri commented on #256
Hey @ducnvhn: do you face same issue in demo also, I am wondering if something else on you page is blocking it.

[2017-03-23 03:19] jpuri commented on #258
Plz @GoFighting check with the latest version, this issue is fixed.

[2017-03-23 03:33] ducnvhn commented on #256
works as expected on Demo page. Have no idea why. Cannot see any error in console. Drag and Drop still work but clicking not. I have uploaded it [here](https://vstack.herokuapp.com) . you can try it here.

[2017-03-23 03:45] ducnvhn opened #259 "adding custom data to mention entity? - question"
how do I add custom data like (ref, id, ect...) to mention entity data? The doc only mention about adding mention with simple suggestions is a list of objects. I want to have custom object as entity data.

[2017-03-23 04:36] andychinka opened #260 "CSS issue on .rdw-dropdown-selectedtext"
As my default color on link is white i.e `a {    color: white}`

So I cannot see the selected font-size in the UI (the background is white also)

It would be nice to add the color style to .rdw-dropdown-selectedtext

[2017-03-23 05:20] jpuri commented on #260
Hey @andychinka,

Try to use this class : https://github.com/jpuri/react-draft-wysiwyg/blob/master/js/src/config/defaultToolbar.js#L54

[2017-03-23 10:40] ducnvhn commented on #256
Sorry @jpuri . I manage to upgrade and it works now. Thank you .

[2017-03-23 10:40] #256 closed

[2017-03-23 11:00] jpuri commented on #256
👍

[2017-03-23 16:58] NoZiL opened #261 "Add a default font size"
It seems that toolbar props have no defaults for lists (e.g. from non styled text, the chosen font size, style, or font-family are the first of the respective arrays)

[2017-03-23 17:54] jpuri commented on #261
Hey @NoZiL, active font-size and font-family are selected in dropdown, make sure that the font size/family you apply to editor class is present in drop-down options.

By default active block type is normal which is paragraph.

Plz let me know if you need more details.

[2017-03-24 10:25] Srisuk opened #262 "Diabling the textbox"
Hi I want to disable the textbox.
The content inside the text box is visible but the user cannot edit it and make it like READ ONLY.

Kindly help to resolve this.

[2017-03-24 10:30] Srisuk commented on #194
Hi,

I am saving in text format only.

[2017-03-24 11:05] roychoo commented on #262
There is a '''readOnly''' prop you can use.

[2017-03-24 11:35] nadinestpierre opened #263 "Change Toolbar Modal Text"
Hiya,
Is there a way to change the text for the tool bar?
I.E when you click on the link button it says Link Title and Link Target - Is there a way to change this??

[2017-03-24 14:47] NoZiL commented on #261
Oh ok, there is no default inline style applied, it takes the style applied to p in my app.

Thank you and great job !

[2017-03-28 08:17] Srisuk commented on #262
Thanks :)

[2017-03-28 20:56] grandMasterHash commented on #255
I am also experiencing this issue. I've basically followed the guide in the [draft.js docs for creating a controlled component](https://draftjs.org/docs/quickstart-api-basics.html#controlling-rich-text). I am also using draft v0.10.0
However I'm using `React.createClass` for creating my component instead of creating a subclass of `React.Component` and then using `getInitialState` to set an empty `

[2017-03-29 03:06] GoFighting opened #264 "i use 'html-to-draftjs' to create a editorState, if dom have a '<img />' , i use editorState is error"
![image](https://cloud.githubusercontent.com/assets/13616686/24436553/b59e12e2-146e-11e7-9f09-9860c2981ea1.png)
this is my code

[2017-03-29 03:08] GoFighting commented on #264
![image](https://cloud.githubusercontent.com/assets/13616686/24436727/c5f2de1a-146f-11e7-8ac1-2d8b2c5c4971.png)
this is error

[2017-03-29 03:12] GoFighting commented on #264
that seem to convertToRaw is error

[2017-03-29 09:50] dininski opened #265 "Text formatting generates invalid markdown"
You are able to generate invalid markdown fairly easily. Simply write some bolded/emphasized text and add a whitespace at the end. This would generate the following: **boldText ** which as you can see is invalid markdown. Instead it should generate `**boldText**` without a trailing whitespace after the text. Is there a workaround or an additional option necessary in order to fix this behavior?

[2017-03-29 22:27] nss213 opened #266 "Use of Math.random to get wrapperId breaks server side rendering"
Using Math.random to get the wrapperId results in a nondeterministic rendering. This breaks server side rendering since the DOM cannot be reconciled on the client. Suggestion: allow the wrapperId to be passed in on the props.

[2017-03-30 02:47] GoFighting opened #267 "how can i set link target="_blank""

[2017-03-30 09:23] chunhsiao opened #268 "Why I cannot use the method of file upload?"
Hi,
I have using the configuration code, but why not show the method of file upload?

`image: {
            uploadEnabled: true,
        }`

![image](https://cloud.githubusercontent.com/assets/12069539/24496601/4515d8cc-156b-11e7-9000-390be4a818b5.png)

[2017-03-30 13:01] chenyehai commented on #90
I set hyper link, and cause this error. And then ,the onBlur callback is failed， what can I do ?

[2017-03-30 14:34] jpuri commented on #90
@chenyehai: What failure are you facing for onBlur ?

[2017-03-30 14:37] jpuri commented on #266
Hey @nss213: I agree to your suggestion. Would you like to create a PR for this change ?

[2017-03-30 14:40] jpuri commented on #265
Hey @dininski: since the style is active at that point I think its valid markdown. To get markdown without the space you should remove inline styles from  that position.

[2017-03-30 14:41] jpuri commented on #267
You can not atm :( though I plan to add this option.

[2017-03-30 14:42] jpuri commented on #264
@GoFighting: `html-to-draftjs` currently supports only HTML generated by the editor.

Also, if your use of HTML is just to save state I would recommend to use JSON rather to save state and convert to HTML only when needed for display.

[2017-03-30 14:43] jpuri commented on #263
@nadinestpierre: Not right now, though I plan to do this change.

[2017-03-30 14:43] jpuri commented on #262
Hey @Srisuk , should I go ahead to close this issue ?

[2017-03-30 14:44] jpuri commented on #261
Hey @NoZiL, closing the issue.

[2017-03-30 14:45] jpuri commented on #260
@andychinka: I hope your issue got fixed, can I close it ?

[2017-03-30 15:00] jpuri commented on #268
@chunhsiao, you also need to provide a call back for file upload, for details plz check docs.

[2017-03-30 21:24] dannymulvihill commented on #255
Same issue here. Also following the docs linked in @grandMasterHash's comment above. I logged out editorState in the onChange method and found that it looked like a ContentState object rather than EditorState. It turns out that the object passed as argument to onChange is `RawDraftContentState`.  I mucked around converting that back to a valid ContentState object, but that still did not work.

Tur

[2017-03-30 23:04] grandMasterHash commented on #255
Thanks for catching that, @dannymulvihill !
I will give that a shot.

[2017-03-31 02:38] chunhsiao commented on #268
@jpuri Thanks..

[2017-03-31 02:54] nss213 commented on #266
I started doing this, but it seems like the only use of `wrapperId` is so that `ModalHandler` can get a reference to the wrapper DOM node using `getElementById` so that it can add a click handler. It seems like this could be avoided by using a `ref` or by setting an `onClick` handler on the actual wrapper `div`, no? Perhaps I am misunderstanding?

[2017-03-31 14:06] colin-jack opened #269 "Editor - Should allow configuration of encoding behavior."
I realize the editor is decoupled from the format (HTML/Markdown) it produces. However I think it would be useful if it could be configured to perform the appropriate encoding based on the format being produced.

As an example if I am outputting Markdown and the user types in "    Bob" then I would expect the editor to encode the white-space, rather than passing it as-is resulting in the creation

[2017-03-31 18:59] nss213 commented on #86
Might this help? https://github.com/facebook/react/pull/6112

[2017-04-01 03:44] MaDejing opened #270 "How to transform Link into plain text"
If '< a >' tag is contained in paste text, how can i transform the Link into plain text?
<img width="328" alt="2017-04-01 11 43 22" src="https://cloud.githubusercontent.com/assets/12246865/24575142/72e9326a-16d0-11e7-8566-de38d629640c.png">

[2017-04-01 03:55] MaDejing opened #271 "ConvertFromHtml Image has problem"
I just upload a image file like this
<img width="614" alt="2017-04-01 11 48 54" src="https://cloud.githubusercontent.com/assets/12246865/24575208/c6b39f88-16d1-11e7-8402-94ab0e49b9b5.png">

Then I use convertFromHtml to get the new editstate.
When I edit the rich text, I cannot select anything.

<img width="1012" alt="2017-04-01 11 48 31" src="https://cloud.githubusercontent.com/assets/12246865/24

[2017-04-01 05:32] jpuri commented on #271
Hey @MaDejing try to use https://github.com/jpuri/html-to-draftjs to create editor state.

[2017-04-01 05:34] jpuri commented on #270
Editor is not great at handling pasted content atm, but you can create your own draftjs hook and use editor as controlled component.

Let me know if you have issues / queries in doing that.

[2017-04-01 05:36] jpuri commented on #269
Hey @colin-jack:

Its not markdown editor and that is not even the intention - its rich text editor and mark-down is just an output format that is supported.

I hope I correctly understood your issue.

[2017-04-01 05:37] jpuri commented on #268
Hey @chunhsiao,

I am closing the issue, feel free to re-open or drop comments in case you face any more issues.

[2017-04-01 05:37] #268 closed

[2017-04-02 07:49] #260 closed

[2017-04-02 18:58] jpuri opened #272 "Remove style option should remove custom inline styles also."

[2017-04-02 18:59] jpuri opened #273 "Error in console if I try to insert emoji while there is selection in editor."

[2017-04-03 09:56] Reggino commented on #266
@nss213 I ran into this too... The use of `ref` seems proper here...

[2017-04-03 13:19] jasonfoy99 opened #274 "setting EditorState property makes react-draft-wysiwyg not working."
The following is source code. draft-js version is 0.10.0 and react-draft-wysiwyg version is 1.9.0.

If I remove the editorState property from Editor component, I can edit things. Adding this property somehow makes the component unusable. Any kind of styling such as bolding or underlining does not work and back/delete keys seem to be disabled.

I guess I missed something but I don't know what it is

[2017-04-03 13:25] jpuri commented on #274
@jasonfoy99 : you have turned editor into a controlled component, make sure you keep `editorState` updated in your component state.

[code]

[2017-04-03 13:40] jasonfoy99 commented on #274
I actually had removed that line. When I use this.setState({ editorState }), I cannot even type anything. When I debug it, the editorState is always undefined. I have no idea what is going on.

Here is what i want to do, I would like to initialize the component with certain presaved editorState. After i am done with editing, I would like to save to my store. Can you kindly tell me what is the best

[2017-04-03 13:41] jasonfoy99 commented on #274
To be more accurate, when the callback onEditorStateChange is called, the editorState is always undefined.

[2017-04-03 13:43] jasonfoy99 commented on #274
sorry, it is my stupid mistake, the signature of my callback funtion is wrong.

[2017-04-03 16:14] sontek opened #275 "Is there a way to style elements before the HTML is generated?"
I want to add a specific CSS classname to links generated within the editor before I save the HTML.  Is there a way to do this?

[2017-04-03 16:27] jpuri commented on #275
Hey @sontek, no - there is no way for it right now.

[2017-04-04 07:31] colin-jack commented on #269
Hi @jpuri:

That makes sense, I will follow up with the issue with draft-js-export-markdown.

However I wondered if you had also considered allowing registering a handler for [handleBeforeInput](https://draftjs.org/docs/api-reference-editor.html#handlebeforeinput ) as it seems like this would allow us to sanitise the input before it is processed?

[2017-04-04 08:18] jpuri commented on #269
Good idea I should add handleBeforeInput and other useful callbacks as props, I will try to soon prioritize that.

[2017-04-04 08:53] colin-jack commented on #269
That's brilliant and thanks for the quick reply.

[2017-04-04 13:15] #261 closed

[2017-04-05 08:14] MaDejing commented on #270
@jpuri Hi, jpuri, thanks for your help.
I find a property named stripPastedStyles, and i give a 'true' value, then it works.
<img width="452" alt="2017-04-05 4 14 25" src="https://cloud.githubusercontent.com/assets/12246865/24696132/fe9b5e30-1a1a-11e7-8a5a-1d148b5643f0.png">

[2017-04-05 08:18] MaDejing commented on #271
Hey @jpuri i used html-to-draftjs, and it works. Thanks for your help.

[2017-04-06 14:41] acidio opened #276 "Allow externals decorators"
Hi @jpuri, I would like to create a new component for Internal links and for it will be necessary to create a new decorator and a new component into the customToolbarButtons. I saw that we to not have the possibility to add a new decorator, am I wrong?

[2017-04-06 15:37] jpuri commented on #276
Hey @acidio: You are right its not possible atm. But its not big change to add this. I will try to do this over the weekend - so hopefully on Monday you have it.

[2017-04-06 15:37] jpuri commented on #274
Closing the issue.

[2017-04-06 15:37] #274 closed

[2017-04-06 15:49] acidio commented on #276
Thank you to answer so fast :)

In this meantime, I forked the project and add the property if do you it's good I can send a PR.

Here is: https://github.com/code-berlin/react-draft-wysiwyg/commit/1b087f7b3b189ef9c186298fa678a8e9d6a2ab0f

I also added options for the user decide if the link should open in the main or in a new window.
https://github.com/code-berlin/react-draft-wysiwyg/commit/d64e8e

[2017-04-06 15:51] jpuri commented on #276
Great, if you can create these PRs (or single PR) I will be happy to make a quick release over the weekend for you.

[2017-04-07 13:07] acidio commented on #276
@jpuri the PR with decorators: https://github.com/jpuri/react-draft-wysiwyg/pull/280

[2017-04-07 22:05] scho7623 opened #282 "TypeError: Cannot read property 'addEventListener' of null"
When running unit test, an error is thrown here:
https://github.com/jpuri/react-draft-wysiwyg/blob/d600280472627a07ca413d8f65d12a50a659325e/js/src/event-handler/modals.js#L15

`document.getElementById(wrapperId);` is returning `null`, and throws an error `TypeError: Cannot read property 'addEventListener' of null`

Do we need null check here?

[2017-04-09 06:36] jpuri commented on #282
Hi @scho7623 : I do not get this issue. Test cases are not able to get document, this ideally should not happen since I have configured `jsdom`. Can you plz check `jsdom` dependency is installed correctly.

[2017-04-09 06:39] jpuri commented on #258
Closing the issue.

[2017-04-09 06:39] #258 closed

[2017-04-09 06:39] #262 closed

[2017-04-09 06:46] jpuri commented on #241
Hi @lavoiedn: The differing cases are not intentional - they are wrong and need to be re-factored. I have use Uppercase for all Components and lowercase to everything else.

[2017-04-09 06:55] jpuri commented on #231
@volkandkaya : This is issue with underlying library DraftJS :(

I will see if there can be a workaround.

[2017-04-09 06:57] jpuri commented on #270
Sounds good, closing this issue !

[2017-04-09 06:57] #270 closed

[2017-04-09 07:06] scho7623 commented on #282
@jpuri: I'm running my tests using `jest`, and `jsdom` is installed as a dependency of `jest`.

[2017-04-09 07:10] jpuri commented on #282
I also faced similar issue with JEST in another project, I am not sure looks like it needs somemore configurations. I used mocha here:

- https://github.com/jpuri/react-draft-wysiwyg/blob/master/config/test-setup.js

- https://github.com/jpuri/react-draft-wysiwyg/blob/master/package.json#L69

[2017-04-09 07:11] jpuri commented on #276
`react-draft-wysiwyg@1.9.2` has the change. Property name I have changed to customDecorators.

Thanks 👍

[2017-04-09 07:11] #276 closed

[2017-04-09 07:11] jpuri commented on #273
`react-draft-wysiwyg@1.9.2` has the fix.

[2017-04-09 07:11] #273 closed

[2017-04-09 07:11] jpuri commented on #272
`react-draft-wysiwyg@1.9.2` has the fix.

[2017-04-09 07:11] #272 closed

[2017-04-09 07:12] jpuri commented on #263
@nadinestpierre: you can not user localization property also not this, plz check doc.

release version: `react-draft-wysiwyg@1.9.2`

[2017-04-09 07:12] #263 closed

[2017-04-09 07:33] scho7623 commented on #282
may be It could be a problem in `jest`?

[2017-04-09 08:29] BrotherDi commented on #180
请问最后是怎么用popupClassName实现的

[2017-04-10 01:47] chinacoolboyzz opened #283 "The pop-up window is blocked"
![Uploading 001.png…]()
The pop-up window is blocked

[2017-04-10 01:49] #283 closed

[2017-04-10 09:12] kuhippo opened #285 "Can't use the internationalization"
Thank you very much for the work of the author.But I found that there are problems in actual use.
1. Can't use the internationalization in making source file I see related documents, but not of NPM download
2. The icon is not aligned in actual use

[2017-04-10 09:16] kuhippo commented on #285
I feel the need to add  CSS a{color: black} and a:hover{color: black}, or you will and theme library conflict

[2017-04-11 07:34] sylvainbx opened #286 "textAlign is not restored"
When initializing the Editor with some previously saved content, eg:
[code]
The text alignment is not restored. All other properties are restored correctly (bold, italic, list ...), but textAlign (here `center` but possibly `right` or `justify`) are not restored.

Here's the peace of code I use to load the initial content:
[code]
Any suggestion is welcome :)

[2017-04-11 11:53] nanke- commented on #208
@jpuri @ondrejrohon
How can i deal with this issue? If uploadCallback returns the relative paths, it does works! I think relative paths is necessary. Please help!

[2017-04-13 14:00] nanke- opened #287 "layout of colorPicker"
![image](https://cloud.githubusercontent.com/assets/2994668/25007482/41af513a-2093-11e7-84b3-58875928078e.png)

is there any solutions to fix it?

[2017-04-13 21:02] gregBerthelot opened #289 "React-color issue"
Hi

On demo page there is an issue with react-color. Predefined colors work fine but if you try to enter hexadecimal color it does not work.

[2017-04-13 21:19] gregBerthelot commented on #267
Should be fixed here https://github.com/jpuri/react-draft-wysiwyg/pull/281

[2017-04-13 21:23] gregBerthelot commented on #227
@jpuri did you get time to look into this enhancement?

[2017-04-14 04:42] alfaslash commented on #287
This problem is caused by using rule`box-sizing: border-box`.
If you override rule `box-sizing: content-box` for editor the problem will be solved.

[2017-04-16 03:32] palmerev opened #290 "`o.getCurrentContent(...).createEntity is not a function` when creating a link"
<img width="1257" alt="screen shot 2017-04-15 at 8 17 59 pm" src="https://cloud.githubusercontent.com/assets/8763349/25068443/ebeb59b0-2218-11e7-91ab-8a6ded245848.png">

Whenever I try to create a link using the link icon / menu in the default toolbar, I get the error shown above.

Using draft-js 0.9.1 and react-draft-wysiwyg 1.9.3

[2017-04-16 06:58] jpuri commented on #290
Hey @palmerev : plz try with latest draft version. This seems to be working well in docs: https://github.com/jpuri/react-draft-wysiwyg/blob/master/docs/package.json#L64

[2017-04-16 07:00] jpuri commented on #286
@sylvainbx : thanks for reporting the issue, I will check this.

[2017-04-16 07:03] jpuri commented on #289
@gregBerthelot : I expect it to work for any color input, may be I did something wrong in configuring react-color. I will check.

[2017-04-16 07:39] jpuri commented on #286
Also, @sylvainbx : are you facing this issue when you display content in HTML ? That I fixed in last version already.

[2017-04-16 08:28] jpuri opened #291 "French, Chinese and Russian Translation of new labels."
Can someone plz help with these translations:

1. French: https://github.com/jpuri/react-draft-wysiwyg/blob/master/js/src/i18n/fr.js#L37

2. Russian: https://github.com/jpuri/react-draft-wysiwyg/blob/master/js/src/i18n/ru.js#L37

3. Chinese: https://github.com/jpuri/react-draft-wysiwyg/blob/master/js/src/i18n/zh.js#L37

[2017-04-16 09:41] mguijarr commented on #291
Hello :)
See PR #292 for french.
Hope this helps !

[2017-04-16 09:54] jpuri commented on #291
Thanks @mguijarr , it does 👍

[2017-04-16 19:46] palmerev commented on #290
@jpuri It's working now with draft-js@0.10.0 and react-draft-wysiwyg@1.9.4

Thank you.

[2017-04-16 19:46] #290 closed

[2017-04-17 07:57] MaDejing opened #294 "Something is wrong in BlockTypes"
https://github.com/jpuri/react-draft-wysiwyg/blob/f86d32be075edf7d98f65a2785b4ed3aa0f1168a/js/src/components/Controls/BlockType/Component/index.js

In the file 'react-draft-wysiwyg/js/src/components/Controls/BlockType/Component/index.js', something is wrong, just like the picture.

<img width="644" alt="qq20170417-155332 2x" src="https://cloud.githubusercontent.com/assets/12246865/25082947/7e865cd

[2017-04-18 02:25] gyarasu opened #295 "How to remove icons from toolbar?"
Hello.
Thanks for your grate component!

I have an question.
I want to know how to remove icons which are not needed from toolbar.

In my page, I don't need 'emoji' in toolbar like below image.
![customtoolbar](https://cloud.githubusercontent.com/assets/4948588/25112037/9cd63580-2429-11e7-9559-1aeeb0aee6cf.png)

[2017-04-18 02:59] jpuri commented on #295
@gyarasu: Toolbar is highly configurable. You can use property `toolbar`, check this: https://github.com/jpuri/react-draft-wysiwyg/blob/master/docs/src/components/Demo/index.js#L136

This is default configuration: https://github.com/jpuri/react-draft-wysiwyg/blob/master/js/src/config/defaultToolbar.js

[2017-04-18 03:00] jpuri commented on #294
Thanks for reporting @MaDejing , I will check this.

[2017-04-18 05:16] lovebum91 opened #296 "How to custom render Mention"
Hi, Please tell me.
How can I custom render suggestion in Mention. I want to display as image below:
Linhk: https://ibb.co/ewN5d5

[2017-04-18 06:58] gyarasu commented on #295
@jpuri
I got it!

To be honest, I had a problem that image's defaultSize option doesn't work.
I solved the problem by updating the module from 1.7.3 to version 1.9.4.

Thank you very much.

[2017-04-18 06:58] #295 closed

[2017-04-18 08:13] jvarshaprdxn opened #297 "Browser Support?"
Can anyone tell me browsers support for this plugin?

[2017-04-18 09:41] chungchi300 opened #298 "Styling bug for underline"
![react draft wysiwyg](https://cloud.githubusercontent.com/assets/5248427/25124320/ef4cec76-245d-11e7-88b7-83102ac8d2d2.png)

If we convert the above draftjs to html, we get
![advboom](https://cloud.githubusercontent.com/assets/5248427/25124379/1f365e18-245e-11e7-90f5-2dc30597ddff.png)

It is caused by the draft-js-to-html interpreted the draft js state to html wrongly.Is any fix for it?

[2017-04-18 13:29] ktusharprdxn commented on #297
Even I would like to browser compatibility of this package. This should be updated in readme file so that everyone can see it before using.

[2017-04-18 16:03] smendozaisf opened #299 "Errors in console."
I'm having this two errors when using the package:

`Warning: AutosizeInput: React.createClass is deprecated and will be removed in version 16. Use plain JavaScript classes instead. If you're not yet ready to migrate, create-react-class is available on npm as a drop-in replacement.`

and

`Warning: Accessing PropTypes via the main React package is deprecated. Use the prop-types package from npm in

[2017-04-20 12:42] sylvainbx commented on #286
Hi, thanks for your answer. I've just upgraded react-draft-wysiwyg from 1.9.0 to 1.9.4 but sadly, this does not solve the issue.

I don't know what you mean by "display content in HTML". I'm displaying some draft raw content in the `<Editor />`, using `convertFromRaw` and `createWithContent`.

[2017-04-21 03:32] sachintha88 opened #301 "Displaying initial HTML text(specially the attributes) has issues in the newer versions."
your latest changes in react-draft-wysiwyg (later than 1.8.3 with confident) has unexplained behavior that initial setup of my editorState is not getting identified by the editor even though the blocks are identical when I perform same styles using the editor. I am receiving HTML text from the database and  I manually populate the rawObject of the EditorState to show the contents I wanted to show

[2017-04-21 03:44] jpuri commented on #301
@sachintha88 : Yep that is issue with some of latest releases, you should very soon expect a fix. I will let you know as I release the fix.

Thanks a lot.

[2017-04-21 04:43] sachintha88 commented on #301
Hi jpuri,
Thank you for the fast reply. It is nice to hear that there will be a fix soon. I appreciate if you can update me as soon as you fix the issue.  I will be using 1.8.3 until the fix.

Thank you!  👍

[2017-04-21 15:30] xNehel commented on #297
It's using flexbox in styles so i assume
IE > 9,
edge >= 11,
firefox >27,
chrome > 20,
safari > 6,
opera > 11.5,
 iOS Safari >6.1
Opera Mini all
Android browser > 4.3
Chrome for android > 12
 [http://caniuse.com/#feat=flexbox](url)

[2017-04-22 05:47] nyrosmith commented on #297
On IE draftjs needs string.prototype.startswith Polyfill.
This library has the same supported Browsers as draft itself

[2017-04-22 11:58] jpuri commented on #298
I see, I will fix this issue in draftjs-to-html.

Thanks a lot for mentioning this issue.

[2017-04-22 16:31] jpuri commented on #291
I still need help with Chinese, can someone plz check.

[2017-04-22 17:15] jpuri commented on #301
Hi @sachintha88 ,

I just published `react-draft-wysiwyg@1.9.5` with the fix.

[2017-04-25 00:01] sachintha88 commented on #301
Hi @jpuri,
I have tested 1.9.5 and its working great! cheers!!
Thank you. 💯

[2017-04-25 01:24] sachintha88 commented on #301
Hi @jpuri,
I am sorry that saying it works 100% but it seems like still there is one issue which I would like to mention you. I hope that if every other thing works fine, the font size is not still getting applied. I set fontsizes manually like object[1] in the above screenshot but it is not getting applied. I hope soon there would be a fix for that too.
once I was like, "wow thats cool !", and th

[2017-04-25 03:42] jpuri commented on #301
Thanks a lot for pointing this out - font size did passed my testing.
But might be I missed something - I will soon check it again.

[2017-04-25 04:33] chetanmotamarri commented on #301
There seems to problem with both font size and font family.
May be fix is changing fontsize, fontfamily to camel case in line 245, 247. [https://github.com/jpuri/draftjs-utils/blob/master/js/inline.js](https://github.com/jpuri/draftjs-utils/blob/master/js/inline.js)

[2017-04-25 04:47] sachintha88 commented on #301
Hi @jpuri,
Thanx for the fast reply again,
Yes, I think something is missing. I hope you could reproduce the issue.
If you can't reproduce it I may have some info that you may need.
If you require something, please ask.

[2017-04-25 05:28] sachintha88 commented on #301
It shows 14, but it neither renders 14 nor output 14.
<img width="448" alt="screen shot 2017-04-25 at 10 34 20 am" src="https://cloud.githubusercontent.com/assets/20631195/25370111/7c513928-29c3-11e7-902e-bcb8f819294d.png">

[2017-04-25 05:35] chetanmotamarri commented on #161
@jpuri Is there any option to hide icon on hover ?

[2017-04-25 05:56] jpuri commented on #161
Hey @chetanmotamarri : you can use this option: https://github.com/jpuri/react-draft-wysiwyg/blob/master/js/src/config/defaultToolbar.js#L107

[2017-04-25 13:03] alfaslash opened #304 "Get all mentions from editorState"
Can I any way to get all  mentions from the editorState?

[2017-04-25 14:27] chetanmotamarri commented on #161
It's not working, icon is shown even when I gave 'showOpenOptionOnHover: false', could you please check once.

[2017-04-25 14:41] jpuri commented on #161
Yep checking this.

[2017-04-25 14:43] jpuri commented on #304
@alfaslash : you need to parse editor state for Mention entities - there is no direct way for this.

[2017-04-25 14:45] jpuri commented on #301
Thanks @sachintha88 : I will try to fix it earliest.

[2017-04-25 18:03] jpuri commented on #161
@chetanmotamarri: Your are right this feature is broken I just checked. An ugly hack you can use for now is:

[code]

I will soon fix the issue.

[2017-04-25 18:06] jpuri commented on #301
Just published `react-draft-wysiwyg@1.9.6` with the fix.

[2017-04-25 18:48] jpuri commented on #298
`draftjs-to-html@0.7.2` has the fix.

[2017-04-25 20:25] chetanmotamarri commented on #161
Thank you,

[2017-04-26 01:05] sachintha88 commented on #301
Hi @jpuri,
This time it works perfectly so far. Thank you for the effort 👍 . I hope @chetanmotamarri 's issue is also fixed (I am not using font family).
Your support for this issue is really thankful.
<img width="450" alt="screen shot 2017-04-26 at 9 59 14 am" src="https://cloud.githubusercontent.com/assets/20631195/25413715/4a713170-2a67-11e7-8562-31970968712c.png">
Cheers! 💯

[2017-04-26 01:05] #301 closed

[2017-04-26 03:51] jpuri commented on #301
Thanks for reporting the issue and helping in fixing it 👍

[2017-04-27 07:21] buxuku opened #306 "warning in console"
`Warning: Failed prop type: Calling PropTypes validators directly is not supported by the `prop-types` package. Use PropTypes.checkPropTypes() to call them. Read more at http://fb.me/use-check-prop-types`

[2017-04-27 07:56] sachintha88 commented on #306
Hi @jpuri,
I too encountered the same issue.
Warning: Failed prop type: Calling PropTypes validators directly is not supported by the `prop-types` package. Use PropTypes.checkPropTypes() to call them. Read more at http://fb.me/use-check-prop-types
    in e (created by Editor)

I suspect this 'e' is somewhere in Editor which is react-draft-Wysiwyg.
Digging into the issue I found this,

[](https://f

[2017-04-27 08:47] bnwan commented on #45
Just started to use this yesterday and getting the "Calling PropTypes validators..." warning. Any help is apprecaited. Thanks

[2017-04-27 10:18] jpuri commented on #45
@bnwan: which version of editor are you using ?

[2017-04-28 16:11] tammomueller commented on #306
Same here.
Based on some debugging this seems to be related to the onChange property.

[2017-04-29 06:50] jpuri commented on #306
The issue has been fixed by the PR: https://github.com/jpuri/react-draft-wysiwyg/pull/307

I will soon release the change.

[2017-04-29 17:09] jpuri commented on #287
Latest release `react-draft-wysiwyg@1.9.7` fixes this color picker issue.

[2017-04-29 17:29] #287 closed

[2017-04-29 17:29] jpuri commented on #306
This should be fixed in latest release `react-draft-wysiwyg@1.9.7`.

[2017-04-29 17:29] #306 closed

[2017-04-29 17:30] jpuri commented on #299
This should be fixed in latest release `react-draft-wysiwyg@1.9.7`.

[2017-04-29 17:30] #299 closed

[2017-04-29 17:30] jpuri commented on #298
Closing the issue, feel free to re-open if you still face issue.

[2017-04-29 17:30] #298 closed

[2017-04-29 17:31] jpuri commented on #291
Thanks to all contributors :)

[2017-04-29 17:31] #291 closed

[2017-04-29 17:33] jpuri commented on #286
This should be fixed in latest version, can you plz check: `react-draft-wysiwyg@1.9.7`.

[2017-04-29 17:34] jpuri commented on #285
@kuhippo : I could not understand the issues, can you plz add code examples or screen shots.

[2017-04-29 17:35] jpuri commented on #282
It probably requires some jest configuration, closing this issue for now.

[2017-04-29 17:35] #282 closed

[2017-04-29 17:36] jpuri commented on #271
Closing the issue.

[2017-04-29 17:36] #271 closed

[2017-04-30 06:35] jpuri commented on #267
Its fixed now, default option can be specified here: https://github.com/jpuri/react-draft-wysiwyg/blob/master/js/src/config/defaultToolbar.js#L108.

[2017-04-30 06:35] #267 closed

[2017-04-30 06:36] #255 closed

[2017-04-30 06:38] jpuri commented on #252
Upload call-back now takes care of error scenarios: https://github.com/jpuri/react-draft-wysiwyg/blob/master/js/src/components/Controls/Image/Component/index.js#L118

[2017-04-30 06:38] #252 closed

[2017-04-30 07:12] jpuri commented on #289
@gregBerthelot:

Hex does work, trouble is react-color triggers onChange event as soon as value is valid color, so if you want to enter #d2d2d2, it will trigger onChange on #d2 and will not wait for whole input.

[2017-04-30 09:23] jpuri commented on #161
Issue is fixed in release: `react-draft-wysiwyg@1.9.8`.

[2017-04-30 09:23] #161 closed

[2017-04-30 10:06] gregBerthelot commented on #289
Hmmmm but how user can enter #12AC8D? It will trigger onChange on #12?

[2017-05-01 06:45] alfaslash commented on #304
Thank you, @jpuri
I solved the problem so:
[code]

[2017-05-01 06:45] #304 closed

[2017-05-01 14:00] geekus commented on #306
Does not seem like it is fixed. I am still getting the warning. Just did a clean install, and verified that I have the latest, v1.9.8.

[code]

[2017-05-01 23:17] shane805 opened #308 "Onblur callback lacking editorState"
Here is the gist of what I'm trying to do in my React component:

[code]

Curious to see if anyone has any ideas on how I can accomplish this with the current version, if not I can make a PR for the changes that I made to support this.

The main issue that I'm running into is that I want to avoid using onChange to update state in my component because it updates too often. It really only needs to u

[2017-05-01 23:22] WofloW commented on #195
js/playground/index.js

Line 128:

 <Editor>
              localization={{ locale: 'zh', translations: {'generic.add': 'Test-Add'} }}
</Editor>

[2017-05-02 02:05] buxuku commented on #306
YES,I have the latest, v1.9.8.This is still the case

[2017-05-02 03:48] cesaracortes commented on #286
Hi!
I have the same problem, and im using the version react-draft-wysiwyg@1.9.7

[2017-05-02 03:51] jpuri commented on #286
I will check this again. Thanks for reporting @cesaracortes

[2017-05-02 07:31] Y-MY opened #309 "style cannot display"
**## First，show my code：**
import React, { Component } from 'react';
import { Editor } from 'react-draft-wysiwyg';
import "react-draft-wysiwyg/dist/react-draft-wysiwyg.css";
import  uploadImageCallBack from "./uploadImageCallBack";
import EditorStyle from '../style/MessageCenter.css';
class ReactEditor extends Component{
    render(){
        return (
            <div className>
                <E

[2017-05-02 08:40] sylvainbx commented on #286
Hi, I've upgraded to react-draft-wysiwyg@1.9.8, but I still have the issue.
Moreover, now I'm having the following error in the console:

[code]

[2017-05-02 09:22] lpp288 opened #310 "hi Upload picture error"
In the Editor configuration uploadCallback, click on the file will be selected for a long time the bomb box, and react-draft-wysiwyg.js:25 Uncaught Cannot read'then'of undefined property this wrong Oh

[2017-05-02 15:23] shane805 commented on #308
Going to split this up into two separate issues.

[2017-05-02 15:23] #308 closed

[2017-05-03 06:32] skiffyin opened #311 "click "add" errors html.trim is not a function"
1.click "add" errors html.trim is not a function

2.click "editor" warning "Calling PropTypes validators directly is not supported by the `prop-types` package. Use PropTypes.checkPropTypes() to call them".Then close editor's window,Click "add" errors "Cannot read property 'trim' of undefined"

[2017-05-03 08:14] RiteshM opened #312 "How to use toolbarCustomButtons"
i tried to use toolbarCustomButtons and developed a sample code for customization but getting error .here is the sample code https://github.com/RiteshM/CustomTBDemo .

can you please provide an example in which toolbarCustomButtons is used or reference any example.i didn't find any example in docs

[2017-05-03 09:46] lovebum91 opened #313 "How I can config suggestion outside contenteditable (like facebook)"
Hi, Please help me
Currently suggestion is being eclipsed. How I can move suggestion outside contenteditable
[](https://ibb.co/n4f4t5)
@jpuri . Thank you very much

[2017-05-03 12:00] acidio commented on #294
@jpuri Could you check if is just what I did in the pull request below to fix this issue?
https://github.com/jpuri/react-draft-wysiwyg/pull/314

tks.

[2017-05-04 09:10] lovebum91 commented on #113
Hi, When you update it.
Thank you

[2017-05-04 20:21] nojaf opened #315 "Edit html"
Is it possible to add a button to edit the html source directly like a toggle mode?

[2017-05-06 17:07] jpuri commented on #315
Hi @nojaf,

HTML editing is very hard with DraftJS, and atm not possible with react-draft-wysiwyg.

[2017-05-06 17:09] jpuri commented on #313
@lovebum91 : this does not works atm :(

This is a feature I would like to have but atm I do not have availability to develop this, I hope to be able to do it soon :)

[2017-05-06 17:13] jpuri commented on #312
Hi @RiteshM,

You right, docs should have an example for this. I will add it soon. In the meantime may be this will help: https://github.com/jpuri/react-draft-wysiwyg/blob/master/js/playground/index.js#L124

Custom components get all props mentioned here: https://github.com/jpuri/react-draft-wysiwyg/blob/master/js/src/components/Editor/index.js#L425

In fact it can be very similar to any of contro

[2017-05-06 17:15] jpuri commented on #311
Hello @skiffyin:

Can you plz mention where exactly you get this error.

[2017-05-06 17:20] jpuri commented on #310
It works for me, please make sure  that uploadCallback returns a promise as mentioned here: https://jpuri.github.io/react-draft-wysiwyg/#/docs.

[2017-05-06 17:23] jpuri commented on #309
@Y-MY , it hard for me to make out the error looking at code above. Can you plz refer to example here: https://github.com/jpuri/react-draft-wysiwyg/blob/master/docs/src/components/Home/index.js

[2017-05-06 17:34] jpuri commented on #297
I will soon fix this IE issue. Thanks @nyrosmith .

[2017-05-06 17:36] jpuri commented on #296
Sorry @lovebum91 , this is not supported atm :(

[2017-05-06 17:37] jpuri commented on #294
Thanks @acidio , I will soon merge your PR.

Thanks @MaDejing , for pointing this out.

[2017-05-08 01:09] sachintha88 commented on #306
Yes, Bug is still there.

[2017-05-08 05:45] lpp288 commented on #310
thank you, but  this parameter  “defaultEditorState”  When filling html, Its HTML tag will disappear。

[2017-05-08 07:50] skiffyin commented on #311
thanks ,the error solved

[2017-05-08 08:46] lpp288 commented on #310
No problem, that is, to wait for five or six seconds after clicking on the "Drop the file or click to upload" will pop up the file window, I do not know why

[2017-05-08 18:08] jasonfoy99 opened #317 "Text color is lost after converting raw content / HTML back to EditorState"
I typed "this is very interesting thing" and make the text green color in Editor and then saved the following raw content using convertToRaw:  JSFiddle: https://jsfiddle.net/wc4cxnvx/
[code]
Its translated Html using draftjs-to-html:
` <p><span style=\"color: rgb(26,188,156);\">this is very interesting thing</span></p>`

I tried to restore editor state using both raw content and HTML, neither show

[2017-05-08 18:11] jasonfoy99 commented on #317
A typo for restoring editor state using HTML
2) From Html:

[code]

[2017-05-10 07:22] sachintha88 commented on #306
@buxuku can you re-open the issue so that we can clearly see the improvements?

[2017-05-10 09:07] buxuku opened #319 "warning still in console"
#306
this warning still exists。

[2017-05-10 09:11] buxuku commented on #306
@sachintha88 I do not have permission to re-open it ,so i have submit a new issue. #319

[2017-05-10 10:18] chinacoolboyzz opened #320 "Editor toolbar with custom image component, to achieve more pictures to add"
javascript
[code]
custom image component Passed paths array。
I hope that here can detect an array of multiple <img />。
or other implementation method.
Thank you!

[2017-05-10 18:57] jasonfoy99 commented on #317
This issue is gone after upgrading to latest 1.9.8 version.

[2017-05-10 18:57] #317 closed

[2017-05-10 19:54] armmydev opened #321 "ERROR in ./~/react-draft-wysiwyg/dist/react-draft-wysiwyg.css"
ERROR in ./~/react-draft-wysiwyg/dist/react-draft-wysiwyg.css
Module parse failed: /Users/armmydev/LocalCreativeTourism/node_modules/react-draft-wysiwyg/dist/react-draft-wysiwyg.css Unexpected token (1:0)
You may need an appropriate loader to handle this file type.
SyntaxError: Unexpected token (1:0)
    at Parser.pp$4.raise (/Users/armmydev/LocalCreativeTourism/node_modules/webpack/node_modules/a

[2017-05-10 23:08] abologna-r7 commented on #315
@nojaf you could potentially use draftToHtml and htmltoDraft plugins to achieve the toggling somehow. From raw HTML to DraftJS you will need to have maybe just a plain textbox (no toolbar), and somehow hide the editor while on "expert/html mode"

[2017-05-11 06:08] #321 closed

[2017-05-12 06:11] trymbill commented on #319
Having the same issue. I hate a dirty console :)

[2017-05-12 06:12] trymbill commented on #306
Having the same issue running 1.9.8

[2017-05-12 06:20] sachintha88 commented on #319
#306 is not Closed actually. It gives me annoying popups every time.

[2017-05-12 12:59] gmchaturvedi1 opened #322 "how to add math formula support in Editor"
Hi,

your module is awesome and fulfil my most requirements but i am new to draftjs and want help to add math formula support for my app as it is for educational domain.

thanks & Regards
gmchaturvedi

[2017-05-13 14:19] jpuri commented on #322
Hi @gmchaturvedi1: You requirement is not very clear. How exactly do you want to add math formula. May be if you can share design it would help me understand.

[2017-05-13 14:20] jpuri commented on #320
Hi,

This is not clear, plz explain :)

[2017-05-13 14:31] jpuri commented on #319
Strangely I an not able to reproduce it in docs.

Check this: https://github.com/facebook/prop-types#difference-from-reactproptypes-dont-call-validator-functions

It might be related to the react version that your projects are using.

[2017-05-13 14:36] jpuri commented on #319
Please tell me version of React and Draft that you are using.

Also I am making a new release of wysiwyg with all latest versions.

[2017-05-13 15:51] gmchaturvedi1 commented on #322
We just want that our user can add math formula in editor .I just saw a
plugin in draftjs plugin editor katex and ma5hjax. Can we add those plug8ns
here .kindly suggest?
On 13 May 2017 19:49, "Jyoti Puri" <notifications@github.com> wrote:

[2017-05-13 17:02] adashst commented on #286
Same for me.

When trying to load :
[code]
style seems to be stripped out.

editorState is:
[code]

I guess `data: {}` should be: `data: {'text-align': 'right'}` after `convertFromHTML`.
Maybe i'm doing sth wrong?

I'm using
- draft-js 0.10.1
- draftjs-to-html 0.7.2
- react-draft-wysiwyg 1.9.8

[2017-05-14 02:07] buxuku commented on #319
it is the same version i am using with you.
[code]

[2017-05-14 03:52] tammomueller commented on #319
@jpuri @buxuku
FWIW I was running into the same issue: Even after upgrading the package to the latest version I still had the warning. Deleting the entire node_modules folder and running npm install again resolved the issue.

[2017-05-14 17:24] jpuri commented on #319
@buxuku : does the fix works for you also ?

[2017-05-15 01:17] chinacoolboyzz commented on #320
![Aaron Swartz](https://github.com/chinacoolboyzz/antd-bug/blob/master/images/react-draft-wysiwyg.png?raw=true)

[2017-05-15 10:58] Peterabsolon commented on #319
@jpuri Hi. I'm still seeing the warning even after reinstalling node_modules.

[2017-05-15 12:08] jasonfoy99 opened #323 "HTML Table support"
This is a really fantastic project. The only thing missing here is table support. I know the author is busy working on something else before she has chance of digging in. I am really new to react and draft. I am just wondering if there is any workaround to achieve table support, such as including a plugin like draft-js-table-plugin to work with react-draft-wysiwyg. Has anyone get HTML table workin

[2017-05-15 14:31] Peterabsolon commented on #154
I'm still experiencing this issue. Using 1.9.9

[2017-05-15 15:10] jpuri commented on #154
Hey @Peterabsolon , can you plz share may be a video. It seems to work well here: https://jpuri.github.io/react-draft-wysiwyg/#/demo. May be some event handling on your page is effecting it.

[2017-05-15 15:12] jpuri commented on #319
@Peterabsolon : what version of React and Draftjs are you using ?

[2017-05-15 15:20] jpuri commented on #320
Ah, make sense. I will do some testing and add the code above. Thx :)

[2017-05-15 15:30] jpuri commented on #323
Hi @jasonfoy99 , thanks you liked editor project.

Its hard to use draft-js-table-plugin with react-draft-wysiwyg.

A way to achieve it would be create custom block renderer and custom toolbar button.

There are quite a few people who need it and it very useful feature. I am thinking of developing it - but it will be comparatively bigger task and since I am also busier these day - I can not promis

[2017-05-15 16:07] jasonfoy99 commented on #323
Understood. Thank you for your quick reply.

[2017-05-16 14:28] Peterabsolon commented on #154
@jpuri The issue is with the nested Modal, for example when you want to include a link. It opens up correctly, you can type something inside on of the inputs but as soon as you click (or tab) to the other input the whole modal closes.

There is no option to include Link in the example you linked.

[2017-05-17 04:34] Srisuk commented on #194
HI,

getInitialState: function () {
       let inputText=this.props.content[0].input.existingText;
        let editorState;

        if(inputText){

                           const blocksFromHTML = convertFromHTML(inputText);
                            const contentState = ContentState.createFromBlockArray(blocksFromHTML);
                            editorState = EditorState.createWithContent(c

[2017-05-19 14:37] kimihub opened #325 "Title parameter for toolbar buttons"
Hi !
I've added a feature to config a title on each toolbar's component.
Here is the PR if you think it can be implemented :

https://github.com/jpuri/react-draft-wysiwyg/pull/324

[2017-05-21 09:34] volkandkaya opened #326 "Feature: text area and toolbar separate"
Is it possible to split the text area and toolbar so they can be put in different components?

[2017-05-21 11:21] jpuri commented on #325
Also, it would be useful to have title support internationalization.

[2017-05-21 13:36] jpuri commented on #326
@volkandkaya : this is not possible right now.

[2017-05-21 18:28] jpuri commented on #238
Hi,
Extremely sorry for much delayed response, I found that this issue is related to FF issue: https://bugzilla.mozilla.org/show_bug.cgi?id=1132768

This hack fixes it: https://github.com/jpuri/react-draft-wysiwyg/blob/master/js/src/components/Editor/index.js#L217

Its inspired by this PR: https://github.com/jpuri/react-draft-wysiwyg/pull/245 - thanks @gablabelle

[2017-05-21 19:10] #311 closed

[2017-05-21 19:12] jpuri commented on #322
@gmchaturvedi1 : it will be hard to use these plugins as such. But react-draft-wysiwyg does allows customization. You can write custom block types and custom toolbar options.

[2017-05-22 07:58] kimihub commented on #325
Do you mean translations into the file src/config/defaultToolbar.js ?

[2017-05-22 09:11] sachintha88 commented on #319
I am Still having the issue,
My react version is "react@15.5.4"
Draftjs version is "draft-js@0.10.1"

[2017-05-22 09:19] volkandkaya commented on #326
What would be the easiest way to get it working in a different component?

[2017-05-22 15:50] gufranmirza opened #328 "embedded links not working."
hii
Why embedded links are not working, whenever entering a embedded link of youtube or twitter nothing seems to appear.
![screenshot from 2017-05-22 21 17 33](https://cloud.githubusercontent.com/assets/17959487/26317241/7984cb48-3f34-11e7-8bc2-68bf145b4e93.png)

[2017-05-22 15:59] jpuri commented on #328
Plz refer this: https://github.com/jpuri/react-draft-wysiwyg/issues/155

[2017-05-22 16:18] gufranmirza commented on #328
Thanks a lot for quick response.
One last question if i want to add the embedded link as

"
<iframe width="560" height="315" src="https://www.youtube.com/embed/uVrunT-VxNo" frameborder="0" allowfullscreen></iframe>
"

it also does not work ,
Can you put option for HTML input, So all the embedded links like iframe or backquote can be added directly.
Thanks a lot...

[2017-05-22 16:45] jpuri commented on #328
@gufranmirza 👍
Check this section "Editor with embedded links" here https://jpuri.github.io/react-draft-wysiwyg/#/demo

I will think about the other option you mentioned above, and if it fits the editor use cases.

[2017-05-22 17:04] gufranmirza commented on #328
@jpuri thanks.

[2017-05-22 17:04] #328 closed

[2017-05-22 23:29] Liz303 opened #329 "Firefox error: t.options.includes is not a function"
This error is preventing my app from running in Firefox. Is there a workaround for this?

[2017-05-23 03:11] jpuri commented on #329
Hi @Liz303 ,

Which version of editor are you using ?

[2017-05-23 04:33] josephMG opened #330 "defaultEditorState cannot set style?"
Hi everyone:

I try to set style to defaultEditorState. I follow [sampleEditorContent](https://github.com/jpuri/react-draft-wysiwyg/blob/master/docs/src/util/sampleEditorContent.js) in the example, and I set style color to DOM as below:
`
    const contentBlocks = convertFromHTML('<p></p>'+
      '<strong style=\"color: rgb(26,188,156);\">TestTest</strong>' +
      '<p></p>'
    );
`

But I got fo

[2017-05-23 07:45] sylvainbx commented on #286
Any update on this ?

[2017-05-23 16:16] zhaoyao91 opened #335 "Support shortcut"
Could you please support common keyboard shortcut to make user input more fluently?

[2017-05-23 16:28] Liz303 commented on #329
npm list shows that I have react-draft-wysiwyg@1.10.0

[2017-05-23 21:16] Liz303 commented on #329
This seems to be resolved. Or it's not appearing anymore so I'm closing this.

[2017-05-23 21:16] #329 closed

[2017-05-24 15:09] jmarcelof commented on #325
@kimihub, I think jpuri meant getting the titles' values from src/i18n in [this style.](https://github.com/jpuri/react-draft-wysiwyg/blob/master/js/src/components/Controls/FontFamily/Component/index.js#L65)

[2017-05-24 15:13] jmarcelof opened #336 "Support for Portuguese locale"
I'm interested in opening a PR to add support to Portuguese locale. Is this kind of contribution welcomed?

[2017-05-24 15:16] jpuri commented on #336
Sure that would be great @jmarcelof 👍

Thx

[2017-05-24 18:53] lavoiedn opened #338 "Case issue in imports prevents running/building on linux"
When trying to run the demo (`npm run start`) on Linux (tested with 4.10.13-1-ARCH) or another OS with a case-sensitive file system, the following error is thrown:

Module not found: Error: Can't resolve '../renderer/Image' in '/home/lavoiedn/git/react-draft-wysiwyg/js/src/renderer'
 @ ./js/src/renderer/index.js 11:13-41
 @ ./js/src/components/Editor/index.js
 @ ./js/src/components/index.js
 @ ./j

[2017-05-25 03:19] gyarasu opened #340 "How to change the behavior when I press enter key"
Hi!

In this component, it makes new paragraph(`<p>`tag) to press enter key.
On the other hand, when I press shit + enter, it makes just new line(`<br />`tag).

I want to replace these key bind. Is it possible?
Do you have any idea?

Thanks!

[2017-05-25 16:24] Lichwa opened #341 "React refs must have owner"
When running example code from [getting started](https://github.com/jpuri/react-draft-wysiwyg#getting-started):

[code]

I'm getting this error in console:
![image](https://cloud.githubusercontent.com/assets/7413177/26459619/5b51665a-4177-11e7-8280-ba12158957c1.png)

It's only happening when trying to render Editor component.

[2017-05-26 03:01] tanmynguyen opened #343 "button Cancel in modal upload image not work"
<img width="1181" alt="screen shot 2017-05-26 at 09 59 35" src="https://cloud.githubusercontent.com/assets/11315567/26478962/2e392a58-41fa-11e7-8756-797299dd2ab7.png">
Hi team!
Button cancel in modal upload image not call function so it not worked?

[2017-05-28 03:50] 282159468 commented on #343
me too
get this bug

[2017-05-28 09:33] kcd71461 opened #344 "There's input bug (non english language) when i use Samsung Keyboard"
non-english-language input text disappear when i use Samsung Keyboard

phone: Galaxy S8
browser: Chrome
video: https://www.youtube.com/watch?v=VcKOBssYzdQ

[2017-05-29 19:45] volkandkaya commented on #326
@jpuri is this something that is on the roadmap?

[2017-05-30 04:37] 282159468 opened #345 "demo"
There are too few sample applications
The only example is missing the code
For example: images upload, tollbar configuration, Controlled / Un-Controlled, set, and, get, content, and so on.
I want to add more examples and see the sample code.
Such as https://ant.design/components/date-picker/
An example corresponds to a code

[2017-05-30 04:59] saravanannnallasamy commented on #193
Hi
I have installed the package successfully, but while running project it throw an error.

Warning: Error running grunt-browserify.

I have import this in the jsx file where the editor is used,
import { Editor } from 'react-draft-wysiwyg';
import 'react-draft-wysiwyg/dist/react-draft-wysiwyg.css';

I don't why it throws error.

[2017-05-30 05:07] saravanannnallasamy opened #346 "Error While running project in react-draft-wysiwyg"
Hi
I have installed the package successfully, but while running project it throw an error in css file.

/home/happlo2/Projects/alpine-be/node_modules/react-draft-wysiwyg/dist/react-draft-wysiwyg.css:1
.rdw-option-wrapper {
^
ParseError: Unexpected token
Warning: Error running grunt-browserify.

import { Editor } from 'react-draft-wysiwyg';
import 'react-draft-wysiwyg/dist/react-draft-wysiwyg.css';

[2017-05-30 17:39] sgolovine commented on #343
Found the issue. In `js/src/components/Controls/Image/index.js`. On line 83 you have `doCollpase={this.doCollpase}` when it should be `doCollpase={this.doCollapse}`

[2017-05-30 20:03] chsisodiya opened #347 "File Upload option is missing"
File upload option is missing. Only URL option is present for images.

[2017-05-31 01:36] chinacoolboyzz opened #348 "How to optimize the size of the webpack package"
How to optimize the size of the webpack package

[2017-05-31 14:00] sylvainbx commented on #347
From [the docs](https://jpuri.github.io/react-draft-wysiwyg/#/docs):

[2017-05-31 14:00] sylvainbx commented on #346
From [the docs](https://jpuri.github.io/react-draft-wysiwyg/#/docs):

[2017-06-01 08:12] dutch92 opened #349 "ColorPicker Demo"
https://github.com/jpuri/react-draft-wysiwyg/blob/master/docs/src/components/Demo/ColorPic/index.js#L36
BlockPicker doesn't have property _value_ rather property _color_
`<BlockPicker color={color} onChangeComplete={this.onChange} />`

[2017-06-01 09:15] saravanannnallasamy commented on #346
It doesn't make any change.

[2017-06-03 17:33] watsy0007 commented on #306
having the same issue running 1.10.0 @jpuri

[2017-06-05 08:33] SecMao commented on #317
I have also crashed on this problem, may I ask your solution to fix it? Now I'm using 1.10.0

[2017-06-05 09:04] SecMao opened #350 "Text color lost after converting from html string to editor state"
Hi @jpuri,
May the text color lost issue reappear in the new version 1.10.0?
I cannot get the correct result while converting from html string like
`'<p>ab<span style="color: red;">cdefg</span></p>'`,
it's never display the color.
And the line-cross or under-line play well.
And the raw object convert to the correct result too.
I have checked some code in function `extractInlineStyle` finding that

[2017-06-05 14:29] jasonfoy99 commented on #317
The issue was fixed for me when using 1.9.8 version. Not sure of 1.10.0.

[2017-06-07 09:59] Xaviju opened #352 "Edit link duplicates link text"
I did not find this bug or similar in the issue list.

**What is the current behavior?**
When I try to edit a link, when I select the link from the end of the string to the begging, on save the string is duplicated. See how to reproduce on gif attached.

![react_draft](https://user-images.githubusercontent.com/1343702/26872608-6bf50368-4b77-11e7-968b-9406946275e8.gif)

**What is the expected behav

[2017-06-07 21:32] Liz303 opened #353 "Adding Link Target throws error"
When I add a link target I get the following error in my console:
```warning.js?8a56:36 Warning: e is changing an uncontrolled input of type undefined to be controlled. Input elements should not switch from uncontrolled to controlled (or vice versa). Decide between using a controlled or uncontrolled input element for the lifetime of the component. More info: https://fb.me/react-controlled-componen

[2017-06-08 09:05] Xuhao commented on #348
Looks there's now to do this currently.
npm package expose the dist version, so, we have to import the whole :(

![webpack bundle analyzer 2017-06-08 17-01-02](https://user-images.githubusercontent.com/324973/26920779-aadaf4c0-4c6c-11e7-9151-de0961aec4bd.png)

[2017-06-08 09:19] mguijarr commented on #348
@Xuhao wow how did you make this map of the files? Very interesting !

[2017-06-08 09:41] Xuhao commented on #348
@mguijarr https://github.com/th0r/webpack-bundle-analyzer

[2017-06-08 15:49] Liz303 opened #354 "<a> tags lost when converting from html to editor state"
**Problem:**
I can't start with markdown that contains <a> tags and put them into the editor as editorState or defaultEditorState without losing the <a> tags.

**Example**  Editor with toolbar visible only when editor is focused.
If I add an <a> tag into the sampleEditorContent it will lose that <a> tag once it is in the editor.

For this as sampleEditorContent
[code]